body.popup_active::-webkit-scrollbar {
    display: none;
}
.departamento_label {
    text-transform: capitalize;
}
.logo_img {
height: 60px;
}
main {
margin: 30px auto 70px auto;
}

/* ################################ OVERLAY AND POPUP ################################################### */

.overlay_popup{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.781);
  z-index: 26;
  visibility: hidden;
  position: fixed;
  overflow-y: overlay;
}

.overlay_popup.opened{
  visibility: unset;
}

.popup{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 1em 2em;
    width: 100%;
    max-width: 50em;
    min-height: 20em;
    max-height: calc(100vh - 8em);
    border-radius: 3px;
    margin: 0 2em;
}

.popup_cerrar{
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1.5em;
  right: -1.5em;
  background-color: white;
  border-radius: 21px;
  width: 2.5em;
  height: 2.5em;
  z-index: 2;
}

.popup_cerrar i{
  font-size: 2em;
  font-weight: bold;
  color: #6b6b6b;
  cursor: pointer;
}

.popup_cerrar i:hover{
  color: rgb(32, 32, 32);
}

.popup_cerrar i:active{
  font-size: 1.95em;
  color: rgb(32, 32, 32);
}

.popup_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 10em);
}

/* #########################################  CONTENIDO DE LA PAGINA ################################## */
.contenedor_consola {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% - 4em);
  margin: 0em auto 2em auto;
  background-color: #fff;
  min-height: 26em;
  align-content: flex-start;
}

.label_select_contenedor{
  display: block;
  width: 100%;
  height: min-content;
  text-align: center;
  background-color: #007fff;
  border: 1px solid #003eff;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  padding: .5em .5em .5em .7em;
  box-sizing: border-box;
  cursor: default;
}

.select_contenedor{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  padding: 0em 1em 1em 1em;
  box-sizing: border-box;
  z-index: 1;
}

.elemento_formulario{
  width: 15em;
  box-sizing: border-box;
  color: #333333;
  margin: 0 auto;
}

.input_referencia_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1em;
}

.input_direccion_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1em;
}

.input_referencia_btn{
  display: flex;
  align-self: center;
  margin-top: 0.8em;
  padding: 0.3em 1em;
  border: 2px solid rgb(55, 55, 55);
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(230, 230, 230);
  -webkit-transition:.3s;
  -moz-transition:.3s;
    transition:.3s;
}

.input_referencia_btn:hover{
  background-color: #007fff;
  color: #fff;
  border-color: #0469cf;
  -webkit-transition:.3s;
  -moz-transition:.3s;
    transition:.3s;
}

.input_referencia_btn:active{
  font-size: 0.95em;
  -webkit-transition:.2s;
  -moz-transition:.2s;
    transition:.2s;
}

.elemento_formulario label {
    display: block;
    margin-top: 1.5em;
    box-sizing: border-box;
    width: 100%;
}

.elemento_formulario input {
    margin-top: 0.5em;
    font-size: 1.1em;
    color: rgb(27, 23, 23);
    text-align: center;
}

.elemento_formulario select {
    width: calc(100% - 1em);
    margin-top: 0.5em;
    font-size: 1.1em;
    color: rgb(27, 23, 23);
}

.label_resultadors_contenedor{
  display: block;
  width: 100%;
  text-align: center;
  background-color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  padding: .5em .5em 0.5em .7em;
  box-sizing: border-box;
}

.resultados_sponsors{
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 1em 1em 1em 1em;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}


.resultados_container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

/* ################### CONTENIDO PAGINA ######################### */

.boton_borrador_mini_contenedor{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.boton_borrador_formulario {
  display: flex;
  max-width: 18em;
  width: 100%;
  margin: 1em 1em 1em 0;
  padding: 0.5em;
  border: 1px solid #645f5f;
  border-radius: 3px;
  background-color: #d6d6d8;
  align-items: center;
  cursor: pointer;
  flex-grow: 0;
}

.boton_borrador_formulario:hover {
  background-color: #007fff;
  border: 1px solid #003eff;
}

.boton_borrador_formulario:hover p{
  color: white;
}

.boton_borrador_formulario:hover i{
  color: white;
}


.boton_borrador_formulario i{
    color: rgb(0, 127, 255);
    margin-right: 0.1em;
    margin-left: 0.4em;
    font-size: 2em;
}

.boton_borrador_formulario p{
  display: flex;
  flex-wrap: wrap;
  color: #454545;
  text-align: center;
  font-size: 1.3em;
}

.boton_borrador_formulario p span.nombre{
  margin-right: 0.3em;
}

/* ############ POPUP AGENDA ########### */

.inmueble_resumen{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;
  padding: 0.5em 2em;
  user-select: none;
  cursor: default;
  margin: 1em auto;
  background-color: #d8d8d8b6;
}

.resumen_key {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
  visibility: hidden;
}
.resumen_key i {
  font-size: 1.5em;
  color: #e5bf00;
}

.resumen_key.activo{
visibility: unset;
}

.resumen_foto {
  width: 12em;
  margin-right: 1.5em;
}

.resumen_info_wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resumen_info{
  display: flex;
  align-items: center;
  width: 100%;
  color: #333333;
  margin-bottom: 0.5em;
  flex-wrap: wrap;
}

.resumen_info b{
  margin-right: 0.4em;
}

.resumen_info_pack{
  display: flex;
  align-items: center;
  width: 100%;
  color: #333333;
  margin-bottom: 1em;
  flex-wrap: wrap;
}

.resumen_info_min{
  margin-right: 0.8em;
}

.resumen_info_min b{
  margin-right: 0.4em;
}


.day_label{
    display: flex;
    width: 90%;
    text-indent: 0em;
}

.popup_content hr{
    width: 90%;
    margin-bottom: 1em;
}

.visita_wrap{
    display: flex;
    align-items: center;
    padding: 1em 2em;
    user-select: none;
    cursor: pointer;
    border-radius: 3px;
}

.visita_wrap:hover{
  background-color: #d8d8d8b6;
}

.visita_wrap:active{
  transform: scale(0.98);
}

.visita_foto{
    width: 3.5em;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 0 1em 0 0;
}

.visita_datos{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.visita_datos p{
  margin: 0.25em 0;
  color: #333333;
}


/* ############################################ RESPONSIVE #################################################### */

@media screen and (max-width:700px){
  .contenedor_editor_sponsor_consola{
    min-height: 30em;
  }

  .select_contenedor{
    width: 100%;
  }

  .resultados_sponsors{
    width: 100%;
  }


}


@media screen and (max-width:520px){

  .contenedor_editor_sponsor_consola{
    width: 100%;
  }


}

@media screen and (max-width:460px){

  .label_select_contenedor{
    font-size: 1em;
  }


}

@media screen and (max-width:380px){

  .label_select_contenedor{
    font-size: 0.9em;
  }


}
