.departamento_label {
  text-transform: capitalize;
}

/* ################### OVERLAY PREVISUALIZACION ######################### */
.overlay_sponsor_previsualizacion{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  visibility: hidden;
}

.overlay_sponsor_previsualizacion.active{
  visibility: visible;
}


.previsualizacion_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: calc(50% - 17.5em);
  top: calc(50% - 12em);
  box-sizing: border-box;
}

.info_adicional_container{
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border: 2px solid rgb(57, 57, 57);
  width: 35em;
  margin-top: 0.5em;
  border-radius: 8px;
  padding: 0.8em 0;
}

.info_adicional_container h2{
  width: 100%;
  color: #454545;
  text-align: center;
  margin-bottom: 0.3em;
}

.info_adicional_container .elemento_info_acicional_barrio{
  width: 100%;
  padding: 0.3em 0.5em 0.3em 0.8em;
  font-size: 0.9em;
}

.info_adicional_container .elemento_info_acicional{
  width: 50%;
  padding: 0.3em 0.5em 0.3em 0.8em;
  font-size: 0.9em;
}

.info_adicional_container .info_label{
  color: #454545;
  font-weight: bold;
  margin-right: 0.3em;
}

/* #########################################  CONTENIDO DE LA PAGINA ################################## */
.contenedor_consola {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% - 4em);
  margin: 0em auto 2em auto;
  background-color: #fff;
  min-height: 26em;
  align-content: flex-start;
}

.label_select_contenedor{
  display: block;
  width: 100%;
  height: min-content;
  text-align: center;
  background-color: #007fff;
  border: 1px solid #003eff;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  padding: .5em .5em .5em .7em;
  box-sizing: border-box;
  cursor: default;
}

.select_contenedor{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  padding: 0em 1em 1em 1em;
  box-sizing: border-box;
  z-index: 1;
}

.elemento_formulario{
  width: 15em;
  box-sizing: border-box;
  color: #333333;
  margin: 0 auto;
}

.input_referencia_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1em;
}

.input_referencia_btn{
  display: flex;
  align-self: center;
  margin-top: 0.8em;
  padding: 0.3em 1em;
  border: 2px solid rgb(55, 55, 55);
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(230, 230, 230);
  -webkit-transition:.3s;
  -moz-transition:.3s;
    transition:.3s;
}

.input_referencia_btn:hover{
  background-color: #007fff;
  color: #fff;
  border-color: #0469cf;
  -webkit-transition:.3s;
  -moz-transition:.3s;
    transition:.3s;
}

.input_referencia_btn:active{
  font-size: 0.95em;
  -webkit-transition:.2s;
  -moz-transition:.2s;
    transition:.2s;
}

.elemento_formulario label {
    display: block;
    margin-top: 1.5em;
    box-sizing: border-box;
    width: 100%;
}

.elemento_formulario input {
    margin-top: 0.5em;
    font-size: 1.1em;
    color: rgb(27, 23, 23);
    text-align: center;
}

.elemento_formulario select {
    width: calc(100% - 1em);
    margin-top: 0.5em;
    font-size: 1.1em;
    color: rgb(27, 23, 23);
}

.label_resultadors_contenedor{
  display: block;
  width: 100%;
  text-align: center;
  background-color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  padding: .5em .5em 0.5em .7em;
  box-sizing: border-box;
}

.resultados_sponsors{
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 1em 1em 1em 1em;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.switch_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: min-content;
}

.switch_sponsors{
  width: 14em;
  border: 4px solid #007fff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.switch_activos{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  box-sizing: border-box;
  background-color: rgb(161, 160, 160,0.6);
  color: #666666;
  padding: 0.5em 0;
  font-size: 1.1em;
  cursor: pointer;
  -webkit-transition:.3s;
  -moz-transition:.3s;
    transition:.3s;
}

.switch_activos:hover{
  background-color: rgba(26, 29, 42, 0.39);
}

.switch_inactivos{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  box-sizing: border-box;
  color: #666666;
  padding: 0.5em 0;
  cursor: pointer;
  background-color: rgb(161, 160, 160, 0.6);
  font-size: 1.1em;
  -webkit-transition:.3s;
  -moz-transition:.3s;
    transition:.3s;
}

.switch.active{
  cursor: default;
  color: #fff;
  background-color: #007fff;
  -webkit-transition:.3s;
  -moz-transition:.3s;
    transition:.3s;
}

.switch:not(.active):hover{
  background-color: rgba(26, 29, 42, 0.39);
}

.resultados_container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

/* ################### CONTENIDO PAGINA ######################### */

.boton_borrador_mini_contenedor{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.boton_borrador_formulario {
  display: flex;
  max-width: 15em;
  width: 100%;
  margin: 1em 1em 1em 0;
  padding: 0.5em;
  border: 1px solid #645f5f;
  border-radius: 3px;
  background-color: #d6d6d8;
  align-items: center;
  cursor: pointer;
  flex-grow: 0;
}

.boton_borrador_formulario:hover {
  background-color: #007fff;
  border: 1px solid #003eff;
}

.boton_borrador_formulario:hover p{
  color: white;
}

.boton_borrador_formulario:hover i{
  color: white;
}


.boton_borrador_formulario i{
  color: rgb(0, 127, 255);
  margin-right: 0.5em;
  font-size: 2em;
}

.boton_borrador_formulario p{
  display: flex;
  flex-wrap: wrap;
  color: #454545;
  text-align: center;
  font-size: 1.3em;
}

.boton_borrador_formulario p span.nombre{
  margin-right: 0.3em;
}

.boton_borrador_formulario_borrar {
  display: flex;
  max-width: 55px;
  width: 100%;
  margin: 1em 0 1em 0;
  padding: 0.5em;
  border: 1px solid #645f5f;
  border-radius: 3px;
  background-color: #d6d6d8;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-grow: 0;
}

.boton_borrador_formulario_borrar:hover {
  border: 1px solid black;
}

.boton_borrador_formulario_borrar:hover i{
  color: rgb(11, 11, 14);
}


.boton_borrador_formulario_borrar i{
  color: rgb(136, 136, 136);
  font-size: 2em;
}


.boton_borrador_formulario_borrar_confirmar {
  display: none;
  max-width: 140px;
  width: 100%;
  margin: 1em 0em 1em 1em;
  padding: 0.85em 0.5em 0.5em 0.5em;
  border: 1px solid #645f5f;
  border-radius: 3px;
  background-color: #d6d6d8;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-grow: 0;
}

.boton_borrador_formulario_borrar_confirmar.btn_inactivar:hover {
  background-color: rgb(177, 22, 22);
  border: 1px solid rgb(148, 18, 18);
}

.boton_borrador_formulario_borrar_confirmar.btn_reactivar:hover {
  background-color: rgb(44, 177, 22);
  border: 1px solid rgb(37, 148, 18);
}

.boton_borrador_formulario_borrar_confirmar:hover p{
  color: white;
}

.boton_borrador_formulario_borrar_confirmar p{
  color: #454545;
  text-align: center;
  font-size: 1.1em;
}

/* ######################### POPUP AVISO SUCCES ############################### */

.popup_success{
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: calc(50% - 5em);
  left: calc(50% - 10em);
  width: 20em;
  height: 10em;
  background-color: #fff;
  border: 1em solid #0984cc;
  z-index: 3;
  box-sizing: border-box;
  border-radius: 10px;
  color: #333;
  font-size: 1.2em;
  font-weight: bold;
}

.popup_success i.fa-exclamation-circle{
  color: #0984cc;
  font-size: 1.2em;
  margin-right: 0.3em;
}

.popup_success_cerrar{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #0984cc;
  border-radius: 50%;
  padding: 0.1em 0.3em 0.2em 0.3em;
  right: -0.5em;
  top: -0.5em;
  font-size: 1.5em;
  color: #fff;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  cursor: pointer;
}

.popup_success_cerrar:hover{
  -webkit-transform:translateY(-0.1em);
  -moz-transform:translateY(-0.1em);
  transform:translateY(-0.1em);
}

/* ############################################ RESPONSIVE #################################################### */

/* ############################################ RESPONSIVE #################################################### */

@media screen and (max-width:700px){
  .contenedor_editor_sponsor_consola{
    min-height: 30em;
  }

  .select_contenedor{
    width: 100%;
  }

  .resultados_sponsors{
    width: 100%;
  }


}


@media screen and (max-width:520px){

  .contenedor_editor_sponsor_consola{
    width: 100%;
  }


}

@media screen and (max-width:460px){

  .label_select_contenedor{
    font-size: 1em;
  }


}

@media screen and (max-width:380px){

  .label_select_contenedor{
    font-size: 0.9em;
  }


}
