.popup_overlay{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 23;
    background-color: rgba(0, 0, 0, 0.315);
    visibility: hidden;
}

.popup_message{
    display: flex;
    flex-direction: column;
    padding: 2em;
    min-width: 23em;
    min-height: 10em;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
}

.popup_cerrar{
    font-size: 2em;
    color: rgb(177, 177, 177);
    position: absolute;
    top: -0.5em;
    right: -0.3em;
    cursor: pointer;
}

.popup_cerrar:hover{
    color:rgb(129, 129, 129);
}

.popup_cerrar:active{
    font-size: 1.95em;  
}

.opciones_wrapper{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 2em 0em 2em 0em;
}

.select_tipo_wrap{
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

.select_pais_wrap{
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

.select_label{
    font-size: 1.2em;
    color: #fff;
    font-weight: bold;
    user-select: none;
    cursor: default;
    margin-bottom: 0.5em;
}

.tipo_file_select{
    min-width: 12em;
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(32, 32, 32);
    cursor: pointer;
}
.id_file_input{
    min-width: 12em;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    color: rgb(32, 32, 32);
}

.tipo_doc_select{
    min-width: 12em;
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(32, 32, 32);
    cursor: pointer;
}

.pais_select{
    min-width: 12em;
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(32, 32, 32);
    cursor: pointer;
}

.enviar_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0984cc;

    padding: 0.8em 3em;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    margin: 1em auto 4em auto;
}

.enviar_btn p{
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
}

.enviar_btn:active p{
    font-size: 1.1em;
}

/* #################################  RESPONSIVE ###################################################### */

@media screen and (max-width:900px){

    .opciones_wrapper{
        flex-direction: column;
    }
  
}