/*   ###########    ESTILOS GENERALES    #############   */
*
{margin:0;
padding:0;
-webkit-box-sizing:border-box; /*bug fix general */
-moz-box-sizing:border-box;   /*bug fix for Mozilla */
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;}

html {height: 100vh;
    max-height: 100vh;
      display: flex;}

a {text-decoration: none; color: black;}
h1 {font-size: 1.5em;}
h2 {font-size: 1.2em; text-indent: 0.5em;}
li {list-style: none;}

.leaflet-bar .leaflet-control-zoom-out {
  background-position: 2px -24px !important;
  font-size: 18px !important;
}

.leaflet-bar .leaflet-control-zoom-in {
  background-position: 2px -24px !important;
  font-size: 18px !important;
}

body
{width: 100vw;
 min-height: 100vh;
 background-size: 100% 100%;
position: relative;}

#fondo
{width: 100%;
 position: fixed;
 z-index: -10;
 background-size: 100% 100%;
 background-image: url(../../objetos/bg_image.jpeg);
 height: 100vh;}

 #contenedor_total
 {width: 100%; height: 100%; display: flex; flex-direction: column; position: relative; align-items: center;}

 header
 {width: 100%;
  top: 0;
  z-index: 20;
  position: relative;}

header nav{
  background-color: rgba(23, 22, 22, 0.97);
  width: 100%;
  box-shadow: 0px 6px 20px #F9F9F9;
}

#contenedor_menu_boton {display:none;}

#menu {display: flex;}
#menu ul.ulmenu
{width: 100%;
 display: flex;}    /*  este flex permite la distribution del menu  */
#menu ul.ulmenu li.limenu
{margin: 3px auto;
 display: flex;          /*flex para que el <a> englobe su contenido */
 border-radius: 6px;
 border: 2px solid transparent;}
#menu ul.ulmenu li.limenu.hover_menu:hover {border: 2px solid white;}
#menu ul.ulmenu li.limenu a
{display: block;
 padding: 5px 15px;}
#menu ul.ulmenu li.limenu a.a_menu img
{display: block;
 margin: 0 auto;}
#menu ul.ulmenu li.limenu a p
{text-align: center;
 margin: 5px auto;
 font-size: 1em;
 color: white;}

.logo_img{
  height: 50px;
}

.regreso_boton_div_contenedor{
  position: absolute;
  top: 0.5em;
  width: 15em;
}


/* ###################################  CONTENIDO ############################################################# */

.contenido_wrap{
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  width: 95%;
  max-height: calc(100vh - 6em);
  margin-top: 1em;
  background: rgba(32, 32, 32, 0.97);
  overflow-y: overlay;
  position: relative;
  overflow-x: hidden;
  overflow-y: overlay;
  font-size: 0.8em;
}

/* ########### CABECERA ############### */

.cabecera{
  display: flex;
  width: 100%;
  padding: 0.5em 1em;
  justify-content: space-between;
  background-color: #4a4848;
  color: white;
  align-items: center;
  user-select: none;
}
.cabecera_nombre{
  display: flex;
  align-items: center;
}

.cabecera_nombre img{
    width: 2.5em;
    margin-right: 0.8em;
}

.cabecera_nombre p{
    display: flex;
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
}

.cabecera_agencia{
  display: flex;
  color: #fff;
  font-weight: bold;
  font-size: 1.1em;
  margin-right: 0.5em;
}

/* ############### MENU LATERAL ##############   */
.menu_lateral_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 4.4em;
    right: 0.8em;
    cursor: pointer;
    padding: 0.3em 0.5em;
    border-radius: 3px;
    user-select: none;
    z-index: 3;
}

.menu_lateral_btn:hover{
    background-color: #4a4848;
}

.menu_lateral_btn:active{
    transform: scale(0.98);
}

.menu_lateral_btn i{
    font-size: 2em;
    color: #fff;
}

.menu_lateral{
  display: flex;
  flex-direction: column;
  width: 23em;
  position: absolute;
  height: calc(100% - 3.5em);
  top: 3.5em;
  right: -24em;
  background-color: #2b2b2b;
  padding: 0.5em;
  border-bottom-right-radius: 9px;
  z-index: 2;
  overflow-y: overlay;
  overflow-x: hidden;
}

.menu_lateral h2{
  display: flex;
  width: 100%;
  margin-top: 0.9em;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  user-select: none;
}

.menu_lateral hr{
    width: 90%;
    margin: 0.8em auto 2em auto;
}

.categorias_wrap{
  display: flex;
  flex-direction: column;
}
.categoria{
  display: flex;
  width: 100%;
  padding: 1.2em 0.8em 1.2em 2em;
  cursor: pointer;
  align-items: center;
}


.categoria:hover{
  background-color: #696767;
}

.categoria.activo{
    background-color: #007fff;
}

.categoria img{
  width: 3.2em;
  margin-right: 0.8em;
}
.categoria p{
  font-size: 1.25em;
  color: #fff;
  font-weight: bold;
}

/* ############### PRINT ################# */

.print_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 4.6em;
    right: 4em;
    cursor: pointer;
    user-select: none;
    z-index: 1;
}

.print_btn img{
    width: 2.5em;
}

.print_btn:hover{
    transform: scale(1.05);
}

.print_btn:active{
    transform: scale(0.98);
}


/* ############### GRAPH CONSOLA ################# */

.graph_consola{
  display: flex;
  flex-direction: column;
  margin: 1.5em 2em 1em 2em;
  width: calc(100% - 4em);
}

.tabs_wrap{
  display: flex;
  align-items: center;
}
.tab{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8em;
  padding: 0.6em 0.8em;
  cursor: pointer;
  user-select: none;
  color: #fff;
  background-color: #555454;
}

.tab:not(.activo):hover{
    background-color: #696767  
}

.tab.activo{
    background-color: #007fff;  
}

.tab i{
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 0.3em;
}

.tab p{
 font-size: 1.1em;
 font-weight: bold;
}

.tab_lista{
    border-top-left-radius: 5px;
}

.tab_graph{
    border-top-right-radius: 5px;
}


/* ########## TAB LISTA ########### */

.tab_content_lista{
    display: none;
    flex-direction: column;
    width: 100%;
}

.tab_content_lista.activo{
    display: flex;
}


.list_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1em;
    border-radius: 3px;
    border-top-left-radius: 0px;
    min-height: 30em;
    background-color: #f3f3f3;
    overflow-x: overlay;
    overflow-y: overlay;
}

.titles_wrap{
    display: flex;
}

.title_element{
    display: flex;
    text-align: center;
    margin: 0.8em 0 0.5em 0;
    cursor: default;
    color: #3b3b3b;
    user-select: none;
    align-items: center;
    padding: 0em 1em;
}

.title_element p{
    font-size: 1.1em;
    font-weight: bold;
}

.filtro_btn{
    display: flex;
    visibility: hidden;
    margin-left: 0.3em;
    cursor: pointer;
    color: #007fff;
}

.filtro_btn.activo{
    visibility: unset;
}

.filtro_btn.activo:hover{
    transform: scale(1.05);
}

.filtro_btn.activo:active{
    transform: scale(0.98);
}

hr.barra_titulos {
    width: 95%;
    margin: 0.3em auto 0 auto;
}

.lista_wrap{
  display: flex;
  flex-direction: column;
}

.lista_row{
  display: flex;
  width: 100%;
  padding: 1em 0;
  cursor: default;
  border-radius: 3px;
  align-items: center;
}

.lista_row:hover{
  background-color: rgba(0, 0, 0, 0.034);
  transition: 0.2s;
}

.lista_col{
  display: flex;
  align-items: center;
  padding: 0em 1em;
  color: #1f1f1f;
  height: 2em;
  max-height: 2em;
}

.lista_col .fa-check{
    color: #7bff00;
    font-size: 1.2em;
}

.lista_col .fa-times{
   color: #e93d3d; 
   font-size: 1.2em;
}

/* ########## TAB GRAPH ########## */

.tab_content_graph{
    display: none;
    flex-direction: column;
    width: 100%;
}

.tab_content_graph.activo{
    display: flex;
}

.graph_container{
  width: 100%;
  border-top-right-radius: 3px;
  justify-content: center;
  
  min-height: 28em;
  background-color: #f3f3f3;
}

.modebar-btn{
  font-size: 23px!important;
}

.actions_graph_wrap{
  display: flex;
  width: 100%;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;

  min-height: 3em;
  background-color: #d4d4d4;
  padding: 0.8em 2em;
  justify-content: space-evenly;
}

/* ##################### NAVEGACION #################### */
/* BOTON SIMPLE */
.boton_simple{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 2em;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  color: #fff;
  background-color: #4a4848;
  font-size: 1.1em;
  font-weight: bold;
}

.boton_simple.activo{
  background-color: #007fff;
}

.boton_simple:not(.activo):hover{
  background-color: #585757;
}

.boton_simple:active{
  transform: scale(0.98);
}

/* RADIO BUTONS */
.check_box_radio_group{
  display: flex;
  align-items: center;
}

.radio_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 2em;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  color: #fff;
  background-color: #4a4848;
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 0.5em;
}

.radio_btn.activo{
  background-color: #007fff;
}

.radio_btn:not(.activo):hover{
  background-color: #585757;
}

.radio_btn:active{
  transform: scale(0.98);
}


/* ######## GRAPH CHOICES FOR THE SAME CATEGORY ######### */
.sub_categorias_wrap{
  display: flex;
  width: 100%;
  margin-top: 1em;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 1em;
}

.sub_categorie_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em 1.5em;
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
  background-color: #555454;
  margin: 0.5em 0.4em;
}

.sub_categorie_btn.activo{
    background-color: #007fff;
}

.sub_categorie_btn:not(.activo):hover{
    background-color: #616060;
}

.sub_categorie_btn:not(.activo):active{
    transform: scale(0.95);
}

.sub_categorie_btn img{
    width: 1.8em;
    margin-right: 0.5em;
}
.sub_categorie_btn p{
  font-size: 1.1em;
  font-weight: bold;
  color: #fff;
  user-select: none;
}


/* ###################################  RESPONSIVE ############################################################# */

@media screen and (max-width:1100px){
    
  .contenido_wrap{
    width: 95%;
  }

}

@media screen and (max-width:750px){

  .contenido_wrap{
    width: 97%;
    font-size: 0.9em;
  }

}

@media screen and (max-width:650px){

  .contenido_wrap{
    width: 100%;
  }

}


@media screen and (max-width:500px){
  .atras_texto{
    display: none;
  }
}



