/*   ###########    ESTILOS GENERALES    #############   */
*
{margin:0;
padding:0;
-webkit-box-sizing:border-box; /*bug fix general */
-moz-box-sizing:border-box;   /*bug fix for Mozilla */
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;}

html {height: 100vh;
    max-height: 100vh;
      display: flex;}

a {text-decoration: none; color: black;}
h1 {font-size: 1.5em;}
h2 {font-size: 1.2em; text-indent: 0.5em;}
li {list-style: none;}

.leaflet-bar .leaflet-control-zoom-out {
  background-position: 2px -24px !important;
  font-size: 18px !important;
}

.leaflet-bar .leaflet-control-zoom-in {
  background-position: 2px -24px !important;
  font-size: 18px !important;
}

body
{width: 100vw;
 min-height: 100vh;
 background-size: 100% 100%;
position: relative;}

#fondo
{width: 100%;
 position: fixed;
 z-index: -10;
 background-size: 100% 100%;
 background-image: url(../../objetos/bg_image.jpeg);
 height: 100vh;}

 #contenedor_total
 {width: 100%; height: 100%; display: flex; flex-direction: column; position: relative; align-items: center;}

 header
 {width: 100%;
  top: 0;
  z-index: 20;
  position: relative;}

header nav{
  background-color: rgba(23, 22, 22, 0.97);
  width: 100%;
  box-shadow: 0px 6px 20px #F9F9F9;
}

#contenedor_menu_boton {display:none;}

#menu {display: flex;}
#menu ul.ulmenu
{width: 100%;
 display: flex;}    /*  este flex permite la distribution del menu  */
#menu ul.ulmenu li.limenu
{margin: 3px auto;
 display: flex;          /*flex para que el <a> englobe su contenido */
 border-radius: 6px;
 border: 2px solid transparent;}
#menu ul.ulmenu li.limenu.hover_menu:hover {border: 2px solid white;}
#menu ul.ulmenu li.limenu a
{display: block;
 padding: 5px 15px;}
#menu ul.ulmenu li.limenu a.a_menu img
{display: block;
 margin: 0 auto;}
#menu ul.ulmenu li.limenu a p
{text-align: center;
 margin: 5px auto;
 font-size: 1em;
 color: white;}

.logo_img{
  height: 50px;
}

.regreso_boton_div_contenedor{
  position: absolute;
  top: 0.5em;
  width: 15em;
}


/* ###################################  CONTENIDO ############################################################# */

.contenido_wrap{
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  width: 95%;
  max-height: calc(100vh -5em);
  margin-top: 1em;
  background: rgba(32, 32, 32, 0.97);
  overflow-y: overlay;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 0.8em;
}

/* ########### CABECERA ############### */

.cabecera{
  display: flex;
  width: 100%;
  padding: 0.5em 1em;
  background-color: #4a4848;
  color: white;
  align-items: center;
  user-select: none;
}
.cabecera_nombre{
  display: flex;
  align-items: center;
}

.cabecera_nombre img{
    width: 2.5em;
    margin-right: 0.8em;
}

.agencia_select {
  width: 10em;
  border-radius: 3px;
  padding: 0.2em 2em 0.2em 1em;
  color: #333;
  font-weight: bold;
}

.agencia_select option{
    padding: 0.2em 2em 0.2em 1em;
    color: #333;
    font-weight: bold;
  }

.tabs_wrap{
    display: flex;
    justify-content: flex-end;
    padding: 0.5em 0em;
    align-items: center;
}


/* ################### POPUP ####################### */
.popup_overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.377);
    visibility: hidden;
    z-index: 100;
}

.popup{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30em;
    background: #2C2C47;
    border: 0.7em solid #0984cc;
    z-index: 3;
    box-sizing: border-box;
    border-radius: 10px;
    color: #333;
    font-size: 1.2em;
    font-weight: bold;
    padding: 1.5em 1em 0.5em 1em;
}

.popup i.fa-exclamation-circle{
    color: #0984cc;
    font-size: 1.2em;
    margin-right: 0.3em;
}

.popup_cerrar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #0984cc;
    border-radius: 50%;
    padding: 0.1em 0.3em 0.2em 0.3em;
    right: -0.5em;
    top: -0.5em;
    font-size: 1.5em;
    color: #fff;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    cursor: pointer;
}

.popup_cerrar:hover{
    -webkit-transform:translateY(-0.1em);
    -moz-transform:translateY(-0.1em);
    transform:translateY(-0.1em);
}

.popup_content{
    display: flex;
    flex-direction: column;
}

/* ########## TAB LISTA ########### */
.graph_consola{
    padding: 0.5em 1em;
}

.cabecera_lista{
    position: sticky;
    top: 0;
    background-color: #f3f3f3;
}

.tabs_wrap .fa-search {
  color: #56a7f8;
  font-weight: bold;
  margin-right: 0.3em;
  font-size: 1.5em;
  cursor: default;
}

.input_factura_id{
    padding: 0.3em 2em 0.3em 1em;
    font-size: 1.1em;
    font-weight: bold;
    color: #3b3b3b;
}

.tab_content_lista{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.list_container{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    padding: 0em 1em;
    border-radius: 3px;
    border-top-left-radius: 0px;
    min-height: 30em;
    max-height: calc(100vh - 15em);
    background-color: #f3f3f3;
    overflow-x: overlay;
    overflow-y: overlay;
}

.titles_wrap{
    display: flex;
}

.title_element{
    display: flex;
    text-align: center;
    margin: 0.8em 0 0.5em 0;
    cursor: default;
    color: #3b3b3b;
    user-select: none;
    align-items: center;
    padding: 0em 1em;
    justify-content: center;
}

.title_element p{
    font-size: 1.1em;
    font-weight: bold;
}

.filtro_btn{
    display: flex;
    visibility: hidden;
    margin-left: 0.3em;
    cursor: pointer;
    color: #007fff;
}

.filtro_btn.activo{
    visibility: unset;
}

.filtro_btn.activo:hover{
    transform: scale(1.05);
}

.filtro_btn.activo:active{
    transform: scale(0.98);
}

hr.barra_titulos {
    width: 90%;
    top: 16em;
    margin: 0.3em auto 0 auto;
    position: fixed;
}

.lista_wrap{
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.lista_row{
  display: flex;
  width: fit-content;
  padding: 1em 0;
  cursor: pointer;
  border-radius: 3px;
  align-items: center;
}

.lista_row:hover{
  background-color: rgba(0, 0, 0, 0.034);
  transition: 0.2s;
}
.lista_row:active{
  transform: scale(0.99);
}

.lista_col{
  display: flex;
  align-items: center;
  padding: 0em 1em;
  color: #1f1f1f;
  height: 2em;
  max-height: 2em;
  text-align: center;
  justify-content: center;
}






/* ###################################  RESPONSIVE ############################################################# */

@media screen and (max-width:1100px){
    
  .contenido_wrap{
    width: 95%;
  }

}

@media screen and (max-width:750px){

  .contenido_wrap{
    width: 98%;
  }

}

@media screen and (max-width:650px){

  .contenido_wrap{
    width: 100%;
  }

}


@media screen and (max-width:500px){
  .atras_texto{
    display: none;
  }
}



