/* ################### OVERLAY PREVISUALIZACION ######################### */
.overlay_sponsor_previsualizacion{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  visibility: hidden;
}

.overlay_sponsor_previsualizacion.active{
  visibility: visible;
}


.previsualizacion_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: calc(50% - 17.5em);
  top: calc(50% - 12em);
  box-sizing: border-box;
}

.info_adicional_container{
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border: 2px solid rgb(57, 57, 57);
  border-top: none;
  width: 35em;
  margin-top: 0.5em;
  border-radius: 8px;
  padding: 0.8em 0;
}

.info_adicional_container h2{
  width: 100%;
  color: #454545;
  text-align: center;
  margin-bottom: 0.3em;
}

.info_adicional_container .elemento_info_acicional_barrio{
  width: 100%;
  padding: 0.3em 0.5em 0.3em 0.8em;
  font-size: 0.9em;
}

.info_adicional_container .elemento_info_acicional{
  width: 50%;
  padding: 0.3em 0.5em 0.3em 0.8em;
  font-size: 0.9em;
}

.info_adicional_container .info_label{
  color: #454545;
  font-weight: bold;
  margin-right: 0.3em;
}

/* ################### CONTENIDO PAGINA ######################### */

.contenedor_borradores{
  flex-direction: column;
  flex-basis: 100%;
  max-width: 700px;
  margin: 1em auto 2em auto;
  border: 2px solid rgb(167, 167, 167);
  padding: 1em 0;
}

.boton_borrador_mini_contenedor{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.boton_borrador_formulario {
  display: flex;
  max-width: 23em;
  width: 100%;
  margin: 1em 1em 1em 0;
  padding: 0.5em;
  border: 1px solid #645f5f;
  border-radius: 3px;
  background-color: #d6d6d8;
  align-items: center;
  cursor: pointer;
  flex-grow: 0;
}

.boton_borrador_formulario:hover {
  background-color: #007fff;
  border: 1px solid #003eff;
}

.boton_borrador_formulario:hover p{
  color: white;
}

.boton_borrador_formulario:hover i{
  color: white;
}


.boton_borrador_formulario i{
  color: rgb(0, 127, 255);
  margin-right: 0.5em;
  font-size: 2em;
}

.boton_borrador_formulario p{
  display: flex;
  flex-wrap: wrap;
  color: #454545;
  text-align: center;
  font-size: 1.3em;
}

.boton_borrador_formulario p span.nombre{
  margin-right: 0.3em;
}



.boton_borrador_formulario_borrar {
  display: flex;
  max-width: 55px;
  width: 100%;
  margin: 1em 0 1em 0;
  padding: 0.5em;
  border: 1px solid #645f5f;
  border-radius: 3px;
  background-color: #d6d6d8;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-grow: 0;
}

.boton_borrador_formulario_borrar:hover {
  border: 1px solid black;
}

.boton_borrador_formulario_borrar:hover i{
  color: rgb(11, 11, 14);
}


.boton_borrador_formulario_borrar i{
  color: rgb(136, 136, 136);
  font-size: 2em;
}


.boton_borrador_formulario_borrar_confirmar {
  display: none;
  max-width: 140px;
  width: 100%;
  margin: 1em 0em 1em 1em;
  padding: 0.85em 0.5em 0.5em 0.5em;
  border: 1px solid #645f5f;
  border-radius: 3px;
  background-color: #d6d6d8;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-grow: 0;
}

.boton_borrador_formulario_borrar_confirmar:hover {
  background-color: rgb(44, 177, 22);
  border: 1px solid rgb(37, 148, 18);
}

.boton_borrador_formulario_borrar_confirmar:hover p{
  color: white;
}

.boton_borrador_formulario_borrar_confirmar p{
  color: #454545;
  text-align: center;
  font-size: 1.1em;
}

/* ######################### POPUP AVISO SUCCES ############################### */

.popup_success{
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: calc(50% - 5em);
  left: calc(50% - 10em);
  width: 20em;
  height: 10em;
  background-color: #fff;
  border: 1em solid #0984cc;
  z-index: 3;
  box-sizing: border-box;
  border-radius: 10px;
  color: #333;
  font-size: 1.2em;
  font-weight: bold;
}

.popup_success i.fa-exclamation-circle{
  color: #0984cc;
  font-size: 1.2em;
  margin-right: 0.3em;
}

.popup_success_cerrar{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #0984cc;
  border-radius: 50%;
  padding: 0.1em 0.3em 0.2em 0.3em;
  right: -0.5em;
  top: -0.5em;
  font-size: 1.5em;
  color: #fff;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  cursor: pointer;
}

.popup_success_cerrar:hover{
  -webkit-transform:translateY(-0.1em);
  -moz-transform:translateY(-0.1em);
  transform:translateY(-0.1em);
}


/* ############################################ RESPONSIVE #################################################### */

@media screen and (max-width:615px){

  .boton_borrador_formulario{
    width: calc(100% - 6em);
    max-width: none;
  }

}

@media screen and (max-width:580px){

  .previsualizacion_container {
    left: calc(50% - 11em);
  }
  .info_adicional_container{
    width: 22em;
  }
  .info_adicional_container .elemento_info_acicional{
    width: 100%;
  }

}
