/* ################### POPUP AVISO ADVERTENCIA ########################## */

.overlay_popup_aviso_advertencia{
    display: flex;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    z-index: 3;
}

.popup_aviso_advertencia{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: calc(50% - 6em);
  left: calc(50% - 15em);
  width: 30em;
  min-height: 15em;
  background-color: #fff;
  border: 1em solid #e91e32;
  z-index: 4;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0.5em;
}

.popup_aviso_advertencia p{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1em;
  cursor: default;
  text-align: center;
}

.popup_aviso_advertencia p i{
  margin-right: 0.3em;
  font-size: 1.2em;
  align-self: flex-start;
}

.popup_aviso_botones_container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.popup_aviso_botones_container span.btn_aceptar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  padding: 0.5em;
  background-color: #d6d6d8;
  box-sizing: border-box;
  border: 1px solid #645f5f;
  color: #454545;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.popup_aviso_botones_container span.btn_aceptar:hover{
  background-color: #007fff;
  color: #fff;
}

.popup_aviso_botones_container span.btn_cancelar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  padding: 0.5em;
  background-color: #d6d6d8;
  box-sizing: border-box;
  border: 1px solid #645f5f;
  color: #454545;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.popup_aviso_botones_container span.btn_cancelar:hover{
  background-color: #d02424;
  color: #fff;
}

.popup_aviso_botones_container span i{
  margin-right: 0.3em;
  font-size: 1.2em;
}

/* ################### CONTENIDO DE LA PAGINA ########################### */


.contenedor_borradores{
  flex-direction: column;
  flex-basis: 100%;
  max-width: 700px;
  margin: 1em auto 2em auto;
  border: 2px solid rgb(167, 167, 167);
  padding: 1em 0;
}

.boton_borrador_mini_contenedor{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.boton_borrador_formulario {
  display: flex;
  max-width: 23em;
  width: 100%;
  margin: 1em 1em 1em 0;
  padding: 0.5em;
  border: 1px solid #645f5f;
  border-radius: 3px;
  background-color: #d6d6d8;
  align-items: center;
  cursor: pointer;
  flex-grow: 0;
}

.boton_borrador_formulario:hover {
  background-color: #007fff;
  border: 1px solid #003eff;
}

.boton_borrador_formulario:hover p{
  color: white;
}

.boton_borrador_formulario:hover i{
  color: white;
}


.boton_borrador_formulario i{
  color: #007fff;
  margin-right: 0.5em;
  font-size: 2em;
}

.boton_borrador_formulario p{
  display: flex;
  flex-wrap: wrap;
  color: #454545;
  text-align: center;
  font-size: 1.3em;
}

.boton_borrador_formulario p span.nombre{
  margin-right: 0.3em;
}



.boton_borrador_formulario_borrar {
  display: flex;
  max-width: 55px;
  width: 100%;
  margin: 1em 0 1em 0;
  padding: 0.5em;
  border: 1px solid #645f5f;
  border-radius: 3px;
  background-color: #d6d6d8;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-grow: 0;
}

.boton_borrador_formulario_borrar:hover {
  border: 1px solid black;
}

.boton_borrador_formulario_borrar:hover i{
  color: rgb(11, 11, 14);
}


.boton_borrador_formulario_borrar i{
  color: rgb(136, 136, 136);
  font-size: 2em;
}


.boton_borrador_formulario_borrar_confirmar {
  display: none;
  max-width: 140px;
  width: 100%;
  margin: 1em 0em 1em 1em;
  padding: 0.85em 0.5em 0.5em 0.5em;
  border: 1px solid #645f5f;
  border-radius: 3px;
  background-color: #d6d6d8;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-grow: 0;
}

.boton_borrador_formulario_borrar_confirmar:hover {
  background-color: rgb(78, 193, 64);
  border: 1px solid rgb(91, 162, 79);
}

.boton_borrador_formulario_borrar_confirmar:hover p{
  color: white;
}

.boton_borrador_formulario_borrar_confirmar p{
  color: #454545;
  text-align: center;
  font-size: 1.1em;
}

#codigo_cupon_input{
  width: 96%;
  margin: 0 auto;
  height: 2em;
}

input[type="text"]
{
    font-size:1.1em;
    color: #302f2f;
    font-weight: bold;
    text-align: center;
}

/* ######################### POPUP AVISO SUCCES ############################### */

.popup_success{
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: calc(50% - 5em);
  left: calc(50% - 10em);
  width: 20em;
  height: 10em;
  background-color: #fff;
  border: 1em solid #0984cc;
  z-index: 3;
  box-sizing: border-box;
  border-radius: 10px;
  color: #333;
  font-size: 1.2em;
  font-weight: bold;
}

.popup_success i.fa-exclamation-circle{
  color: #0984cc;
  font-size: 1.2em;
  margin-right: 0.3em;
}

.popup_success_cerrar{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #0984cc;
  border-radius: 50%;
  padding: 0.1em 0.3em 0.2em 0.3em;
  right: -0.5em;
  top: -0.5em;
  font-size: 1.5em;
  color: #fff;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  cursor: pointer;
}

.popup_success_cerrar:hover{
  -webkit-transform:translateY(-0.1em);
  -moz-transform:translateY(-0.1em);
  transform:translateY(-0.1em);
}


/* ############################################ RESPONSIVE #################################################### */

@media screen and (max-width:615px){

  .boton_borrador_formulario{
    width: calc(100% - 6em);
    max-width: none;
  }

}
