.contenedor_editor_sponsor_consola {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0em auto 2em auto;
  background-color: #fff;
}

.label_select_contenedor{
  display: block;
  width: 100%;
  height: min-content;
  text-align: center;
  background-color: #007fff;
  border: 1px solid #003eff;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  padding: .5em .5em .5em .7em;
  box-sizing: border-box;
  cursor: default;
}

.all_params_container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.agencia_select_container{
  width: 15em;
  box-sizing: border-box;
  color: #333333;
  margin: 1em auto;
}

.agencia_select_container label {
    display: block;
    box-sizing: border-box;
    width: 100%;
}

.agencia_select_container select {
    width: calc(100% - 1em);
    margin-top: 0.5em;
    font-size: 1.1em;
    color: rgb(27, 23, 23);
}

.editar_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 2em;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  background-color: rgb(120, 120, 120);
  cursor: pointer;
  width: 8em;
  margin: 0em auto 1em auto;
}

.editar_btn:hover{
  background-color: #007fff;
}

.editar_btn:active{
  background-color: #007fff;
  font-size: 1.15em;
}


/* ############################################ RESPONSIVE #################################################### */

@media screen and (max-width:700px){
  .contenedor_editor_sponsor_consola{
    min-height: 20em;
  }

}

@media screen and (max-width:520px){

  .contenedor_editor_sponsor_consola{
    width: 100%;
  }

}
