.departamento_label {
  text-transform: capitalize;
}

.mensaje_error{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  color: rgb(142, 138, 138);
  font-weight: bold;
}

#boton_crear_codigo{
  color: #fff;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 10px;
  width: 14em;
  height: 3.5em;
  background-color: rgb(142, 138, 138);
  cursor: pointer;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  margin: 1.5em 0em 2em 0em;
}

#boton_crear_codigo:hover{
  background-color: #007fff;
  border: 2px solid #003eff;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.resultados_container label{
 color: rgb(142, 138, 138);
 font-size: 1.4em;
 font-weight: bold;
 margin-bottom: 0.3em;
}

#new_code_input{
 width: 17em;
 height: 2em;
 margin-bottom: 1em;
 font-size: 1.2em;
 color: rgb(45, 45, 42);
 font-weight: bold;
 text-align: center;
}

#new_code_input:hover{
  border: 1px solid #007fff;
}
