.departamento_label {
  text-transform: capitalize;
}

.contenedor_editor_sponsor_consola {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% - 4em);
  margin: 0em auto 2em auto;
  background-color: #fff;
  min-height: 26em;
  align-content: flex-start;
}

.label_select_contenedor{
  display: block;
  width: 100%;
  height: min-content;
  text-align: center;
  background-color: #007fff;
  border: 1px solid #003eff;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  padding: .5em .5em .5em .7em;
  box-sizing: border-box;
  cursor: default;
}

.select_contenedor{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  padding: 0em 1em 1em 1em;
  box-sizing: border-box;

}

.elemento_formulario_sponsor{
  width: 15em;
  box-sizing: border-box;
  color: #333333;
  margin: 0 auto;
}

.elemento_formulario_sponsor label {
    display: block;
    margin-top: 1.5em;
    box-sizing: border-box;
    width: 100%;
}

.elemento_formulario_sponsor select {
    width: calc(100% - 1em);
    margin-top: 0.5em;
    font-size: 1.1em;
    color: rgb(27, 23, 23);
}

.label_resultadors_contenedor{
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  padding: .5em .5em 1em .7em;
  box-sizing: border-box;
}

.resultados_sponsors{
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 1em 1em 1em 1em;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.elemento_resultado{
  display: flex;
  max-width: 20em;
  width: 100%;
  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid #645f5f;
  border-radius: 3px;
  background-color: #d6d6d8;
  align-items: center;
  cursor: pointer;
  flex-grow: 0;
}

.elemento_resultado:hover {
  background-color: #007fff;
  border: 1px solid #003eff;
}

.elemento_resultado:hover p{
  color: white;
}

.elemento_resultado:hover i{
  color: white;
}

.elemento_resultado i{
  color: rgb(233, 147, 19);
  margin-right: 0.5em;
  font-size: 1.5em;
}

.elemento_resultado p{
  display: flex;
  flex-wrap: wrap;
  color: #454545;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

.elemento_resultado p span.nombre{
  margin-right: 0.3em;
}


/* ############################################ RESPONSIVE #################################################### */

@media screen and (max-width:700px){
  .contenedor_editor_sponsor_consola{
    min-height: 30em;
  }

  .select_contenedor{
    width: 100%;
  }

  .resultados_sponsors{
    width: 100%;
  }


}


@media screen and (max-width:520px){

  .contenedor_editor_sponsor_consola{
    width: 100%;
  }


}

@media screen and (max-width:460px){

  .label_select_contenedor{
    font-size: 1em;
  }


}

@media screen and (max-width:380px){

  .label_select_contenedor{
    font-size: 0.9em;
  }


}
