/*   ###########    ESTILOS GENERALES    #############   */
*
{margin:0;
padding:0;
-webkit-box-sizing:border-box; /*bug fix general */
-moz-box-sizing:border-box;   /*bug fix for Mozilla */
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;}

html {min-height: 100%;
      display: flex;}

a {text-decoration: none; color: black;}
h1 {font-size: 1.5em;}
h2 {font-size: 1.2em; text-indent: 0.5em;}
li {list-style: none;}


body
{width: 100%;
 min-height: 100%;
 background-size: 100% 100%;
 background-color:rgba(0, 0, 0, 0.55);}

#contenedor_total
{width: 100%; height: calc(100% - 132px); display: flex; flex-direction: column; align-items: center;}

/* ##########    BARRA DE NAVEGACION Y LOGOTYPO ########### */


header
{width: 100%;
position:static;}

header nav
{width: 100%;}

 #contenedor_menu_boton {display:flex; width: 100%; background-color:rgba(0, 0, 0, 0.74)}
 #contenedor_menu_boton ul {display: flex; margin: 8px 20px; width: 100%; justify-content: center; align-items: center;}
 #contenedor_menu_boton ul li {border-radius: 6px; border: 2px solid transparent;}
 #contenedor_menu_boton ul li.hover_menu:hover {border: 2px solid white;}
 #contenedor_menu_boton ul li a {display: block;}
 #contenedor_menu_boton ul li a img {display: block; height: 50px;}
 #contenedor_menu_boton ul li a img.menu_logo {height: 78px;}

main{
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
}

.validez_cupon_btn{
 color: #fff;
 font-size: 1.3em;
 display: flex;
 justify-content: center;
 align-items: center;
 border: 2px solid #fff;
 border-radius: 10px;
 width: 15em;
 height: 3.5em;
 background-color: rgb(142, 138, 138);
 visibility: hidden;
 cursor: pointer;
 -webkit-transition: .3s;
 -moz-transition: .3s;
 transition: .3s;
}

.validez_cupon_btn:hover{
  background-color: #007fff;
  border: 2px solid #003eff;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.promocion_contenedor{
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  border: 4px solid rgb(83, 83, 83);
  border-radius: 10px;
  background-color: #fff;
  width: 21em;
  padding: 1.5em 0.6em;
}

.codigo_no_valido{
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  color: rgb(34, 34, 34);
  display: flex;
  justify-content: center;
  align-items: center;
}

.codigo_no_valido i{
  color: #82c91e;
  font-size: 2em;
  margin-left: 0.2em;
}

.extra_aviso{
  width: 100%;
  text-align: center;
  font-size: 1em;
  color: rgb(34, 34, 34);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
}

.promo{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0.3em;
}

.promo h2{
  font-size: 1.4em;
  color: rgb(34, 34, 34);
  margin: 0em 0em 0.8em 0em;
}

.promo_vars{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.8em;
  font-weight: bold;
  margin-bottom: 0.2em
}

.promo_vars span{
  width: 100%;
  text-align: center;
}

.promo_infos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(45, 45, 42);
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.promo_infos span{
  width: 100%;
}

.fecha_vencimiento{
  width: 100%;
  text-align: center;
}

.sponsor_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.sponsor_info h2{
  font-size: 1.4em;
  color: rgb(34, 34, 34);
  margin: 0em 0em 1em 0em;
}

.sponsors_name{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em
}

.logo img{
  width: 4em;
  height: 4em;
  margin-right: 0.5em;
}

.label{
  font-size: 1.4em;
  color: rgb(34, 34, 34);
  font-weight: bold;
}

.sponsor_localizacion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2em;
  color: rgb(34, 34, 34);
}

/* ################### POPUP AVISO ADVERTENCIA ########################## */

.overlay_popup_aviso_advertencia{
    display: flex;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    z-index: 3;
}

.popup_aviso_advertencia{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: calc(50% - 6em);
  left: calc(50% - 11em);
  width: 22em;
  min-height: 15em;
  background-color: #fff;
  border: 1em solid #007fff;
  z-index: 4;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0.5em;
}

#codigo_sponsor{
  width: 90%;
  height: 2em;
  margin-bottom: 1em;
  font-size: 1.2em;
  color: rgb(45, 45, 42);
  font-weight: bold;
  text-align: center;
}

#codigo_sponsor:hover{
  border: 1px solid #007fff;
}

.popup_aviso_advertencia p{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1em;
  cursor: default;
  text-align: center;
}

.popup_aviso_advertencia p i{
  margin-right: 0.3em;
  font-size: 1.2em;
  align-self: flex-start;
}

.popup_aviso_botones_container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.popup_aviso_botones_container span.btn_aceptar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  padding: 0.5em;
  background-color: #d6d6d8;
  box-sizing: border-box;
  border: 1px solid #645f5f;
  color: #454545;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.popup_aviso_botones_container span.btn_aceptar:hover{
  background-color: #007fff;
  color: #fff;
}

.popup_aviso_botones_container span.btn_cancelar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  padding: 0.5em;
  background-color: #d6d6d8;
  box-sizing: border-box;
  border: 1px solid #645f5f;
  color: #454545;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.popup_aviso_botones_container span.btn_cancelar:hover{
  background-color: #d02424;
  color: #fff;
}

.popup_aviso_botones_container span i{
  margin-right: 0.3em;
  font-size: 1.2em;
}

/* ####################    ESTILOS RESPONSIVE    ########################### */
@media screen and (max-width:1150px)
{
  main {width: 100%;}
}
