
.popup_content {
    display: block;
    background-color: #fff;
    width: 50em;
    overflow-y: overlay;
}

.popup_content span.dato{
    background-color: #fff;
}


/* ##################### ACTIONS ######################## */

.popup_actions {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 1em;
    margin-bottom: 0.8em;
}

.action_imprimir{
    display: flex;
    align-items: center;
    background-color: #0984cc;
    border-radius: 7px;
    padding: 0.3em 0.8em;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    user-select: none;
}

.action_imprimir:hover {
    background-color: #189ae6;
}

.action_imprimir:active {
    transform: scale(0.95);
    transition: 0.2s;
}

.factura_print_icon{
    width: 2.5em;
    margin-right: 0.5em;
}

.action_anular {
    display: flex;
    align-items: center;
    background-color: #cc4040;
    border-radius: 5px;
    padding: 0.4em 0.8em;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    user-select: none;
}
.action_anular:hover {
    background-color: #df6060;
}

.action_anular:active {
    transform: scale(0.95);
    transition: 0.2s;
}

.anular_icon{
    font-size: 1.6em;
    margin-right: 0.5em;
    color: #fff;
}

.action_revertir {
    display: flex;
    align-items: center;
    background-color: #40cc47;
    border-radius: 5px;
    padding: 0.75em 0.8em;
    margin-right: 1.5em;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    user-select: none;
}
.action_revertir:hover {
    background-color: #5add60;
}

.action_revertir:active {
    transform: scale(0.95);
    transition: 0.2s;
}

.revertir_icon{
    font-size: 1.6em;
    margin-right: 0.5em;
    color: #fff;
}

.confirmacion_wrap{
    display: none;
    width: 100%;
    height: 20em;
    justify-content: center;
    align-items: center;
    padding: 0.5em 2em;
    user-select: none;
    flex-direction: column;
}

.confirmar_titulo{
    text-align: center;
    width: 100%;
    color: rgb(22, 22, 22);
    font-weight: bold;
    margin-bottom: 1em;
}




/* ########################## FACTURA ############################# */

.factura_up{
    padding: 1em;
    display: inline-block;
    background-color: rgb(44, 44, 44);
    color: #fff;
    width: 100%;
    font-size: 0.7em;
    margin-bottom: 1em;
}

.factura_upper_left{
 display: inline-block;
 height: 100%;
 width: 8cm;
 vertical-align: middle;
}

.factura_logo{
    display: block;
    width: 3.5cm;
    margin: 0em auto 0.5em auto;
}

.razon_social{
    display: block;
    font-size: 0.9em;
    text-align: center;
    font-weight: bold;
    line-height: 1.5em;
}

.direccion_agencia{
    display: block;
    font-size: 0.9em;
}

.direccion_agencia p{
    text-align: center;
    font-weight: bold;
    line-height: 1.5em;
}



.factura_upper_right{
    display: inline-block;
    width: 6cm;
    margin-left: 4cm;
    vertical-align: middle;
}

.nit_agencia{
display: block;
text-align: center;
font-size: 1.2em;
font-weight: bold;
line-height: 1.5em;
}

.numero_factura{
display: block;
text-align: center;
font-size: 1.2em;
font-weight: bold;
line-height: 1.5em;
}

.numero_autorizacion{
display: block;
text-align: center;
font-size: 1.2em;
font-weight: bold;
line-height: 1.5em;
}

.original{
    display: block;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0.2em 0em;
    line-height: 1.5em;
}

.actividad_empresa{
    display: block;
    text-align: justify;
    font-size: 0.9em;
    margin-top: 1em;
}

.factura_upper_center{
    display: block;
    width: 100%;
    margin: 0.5em 0em;
}

.class_titulo_factura{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 0.5em 0em;
    color: #1d1d1d;
}

.factura_datos_emision{
    width: 100%;
    color: #111111;
    font-weight: bold;
    margin-top: 1em;
}

.factura_fecha_emision{
    display: block;
    margin-bottom: 0.5em;
}

.factura_nombre_emision{
    display: inline-block;
    margin-bottom: 0.5em;
}

.factura_nit_emision{
    display: inline-block;
    margin-left: 2cm;
}

.factura_cuerpo{
    width: 100%;
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 0.85em;
}

.cuerpo_titulos{
    width: 100%;
    font-weight: bold;
    color: #111111;
}

.contendor_objetos{
    width: 100%;
}

.objeto_row{
    display: block;
    margin: 0.5em 0em;
}

.objeto_row_descuento{
    display: block;
    margin: 0.5em 0em;
}

.col1{
    display: inline-block;
    width: 1cm;
    text-align: center;
    padding: 0.2em;
}

.col1_row{
    display: inline-block;
    width: 1cm;
    text-align: center;
    padding: 0.2em;
    font-size: 0.9em;
    vertical-align: middle;
}

.col2{
    display: inline-block;
    width: 11cm;
    text-align: center;
    padding: 0.2em;
}

.col2_row{
    display: inline-block;
    width: 11cm;
    text-align: justify;
    padding: 0.2em 2em;
    font-size: 0.9em;
    vertical-align: middle;
}

.col2_row_descuento{
    display: inline-block;
    width: 11cm;
    text-align: right;
    padding: 0.2em 2em;
    font-size: 0.9em;
    vertical-align: middle;
    font-weight: bold;
}

.col3{
    display: inline-block;
    width: 2.5cm;
    text-align: center;
    padding: 0.2em;
}

.col3_row{
    display: inline-block;
    width: 2.5cm;
    text-align: center;
    padding: 0.2em;
    font-size: 0.9em;
    vertical-align: middle;
}

.col4{
    display: inline-block;
    width: 3.5cm;
    text-align: center;
    padding: 0.2em;
}

.col4_row{
    display: inline-block;
    width: 3.5cm;
    text-align: center;
    padding: 0.2em;
    font-size: 0.9em;
    vertical-align: middle;
}

.cuerpo_total_contenedor{
    width: 100%;
    display: block;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.total_escrito{
    display: inline-block;
    font-weight: bold;
    color: #111111;
    width: 70%;
}

.total_monto{
    display: inline-block;
    text-align: right;
    font-weight: bold;
    color: #111111;
    width: 25%;
    padding-right: 1.9em;
}

.total_monto p{
    display: inline-block;
}

.fecha_limite_emision{
    display: block;
    font-size: 0.8em;
    margin-top: 1.5em;
}

.codigo_control{
    display: block;
    font-size: 0.8em;
    margin-top: 0.5em;
}

.codigo_qr_container{
    display: block;
    width: 100%;
    text-align: center;
}

.factura_footer{
    width: 100%;
    display: block;
    margin-top: 2em;
}

.leyenda_sin{
    display: block;
    text-align: center;
    font-size: 0.6em;
    font-weight: bold;
    margin-bottom: 1em;
}

.leyenda_consumidor{
    display: block;
    text-align: center;
    font-size: 0.7em;
    font-weight: bold;
}

.codigo_interno{
    display: block;
    text-align: left;
    font-size: 0.7em;
    font-weight: bold;
    margin-top: 3em;
}