/* ######################### POPUP AVISO SUCCES ############################### */

.departamento_label{
  text-transform: capitalize;
}

.popup_success{
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: calc(50% - 5em);
  left: calc(50% - 10em);
  width: 20em;
  height: 10em;
  background-color: #fff;
  border: 1em solid #0984cc;
  z-index: 30;
  box-sizing: border-box;
  border-radius: 10px;
  color: #333;
  font-size: 1.2em;
  font-weight: bold;
}

.popup_success i.fa-exclamation-circle{
  color: #0984cc;
  font-size: 1.2em;
  margin-right: 0.3em;
}

.popup_success_cerrar{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #0984cc;
  border-radius: 50%;
  padding: 0.1em 0.3em 0.2em 0.3em;
  right: -0.5em;
  top: -0.5em;
  font-size: 1.5em;
  color: #fff;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  cursor: pointer;
}

.popup_success_cerrar:hover{
  -webkit-transform:translateY(-0.1em);
  -moz-transform:translateY(-0.1em);
  transform:translateY(-0.1em);
}
.contenedor_editor_sponsor_consola {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0em auto 2em auto;
  background-color: #fff;
}

.titulo_azul{
  display: block;
  width: 100%;
  height: min-content;
  text-align: center;
  background-color: #007fff;
  border: 1px solid #003eff;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  padding: .5em .5em .5em .7em;
  box-sizing: border-box;
  cursor: default;
}

.contenedor_consola {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: 0em auto 2em auto;
  background-color: #fff;
  min-height: 26em;
  align-content: flex-start;
  justify-content: space-evenly;
}

.carga_dinamica_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2em;
}

.inputs_contenedor{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}


.input_wrap{
  display: flex;
  flex-direction: column;
  width: 25em;
  justify-content: center;
  align-items: flex-start;
  margin: 0.5em 1em;
}

.input_wrap label {
  font-size: 1.1em;
  margin-bottom: 0.5em;
  box-sizing: border-box;
}

.input_wrap select {
  min-width: 15em;
  font-size: 1.1em;
  color: rgb(27, 23, 23);
}

.input_wrap input{
  font-size: 1.1em;
  color: rgb(32, 32, 32);
  font-weight: bold;
  display: flex;
  min-width: 100%;
}

.input_wrap input.borde_rojo{
  border: 1px solid red;
}

.input_wrap label{
  display: flex;
  font-size: 1.1em;
  color: rgb(32, 32, 32);
  margin-right: 0.5em;
}

.pregunta_textarea{
  font-size: 1.1em;
  font-weight: bold;
  color: rgb(30, 30, 30);
  padding-left: 0.5em;
  resize: none;
  width: 95%;
}

.opcion_conciliador_wrap_input{
  visibility: hidden;
}

.opcion_conciliador_wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  width: 14em;
}

.opcion_conciliador{
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  background-color: #aaa8a8;
  width: 50%;
  padding: 0.6em 1.5em;
  font-weight: bold;
  color: #fff;
  font-size: 1.1em;
}

.opcion_conciliador:not(.activo){
  cursor: pointer;
}

.opcion_conciliador:not(.activo):hover{
  background-color: #949494;
}

.opcion_conciliador.activo{
  background-color: #007fff;
  cursor: default;
}

.opcion_mes{
 border-top-left-radius: 5px;
 border-bottom-left-radius: 5px;
}

.opcion_porcentage{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
 }

.form_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 2em;
  border-radius: 8px;
  color: #fff;
  background-color: #aaa8a8;
  cursor: pointer;
  user-select: none;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 auto;
}

.form_btn:active{
  font-size: 1.15em;
  background-color: #007fff ;
}

.form_btn.active{
  background-color: #007fff ;
}

.drags_contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1.5em;
}

.contenedor_foto{
  display: flex;
  width: 21em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.campo_foto{
  width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    color: #ecf0f1;
    border: 3px dashed gray;
    margin: 0.3em auto 1em auto;
}

.campo_foto label{
  display: flex;
  position: absolute;
  opacity: 0.8;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: 20px;
  line-height: 50px;
  text-transform: uppercase;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.campo_foto label p {
  display: block;
  text-align: center;
  padding: 0.5em;
  background-color: #aaa8a8;
}

.campo_foto label i {
  display: none;
  text-align: center;
  padding: 0.5em;
  color: rgb(102, 226, 65);
  font-size: 6em;
}

.campo_foto label span {
  text-transform: none;
  text-decoration: underline #007fff;
  color: #007fff;
}

.campo_foto input {
  opacity: 0;
  font-size: 0em;
  padding: 147px 140px;
  cursor: pointer;
  position: absolute;
}

.thumb_pdf_container{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: #fff;
}

.thumb_pdf_container i{
  display: block;
  font-size: 9em;
  color: #e5bf00;
}

.thumb_pdf_container p{
  margin-top: 0.6em;
  font-size: 1.2em;
  font-weight: bold;
  color: #e5bf00;
}

.thumb_foto_normal {
  display: flex;
  position: absolute;
  z-index: 11;
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.thumb_foto_normal_p_container{
  display: flex;
  opacity: 0.8;
  position: absolute;
  z-index: 12;
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.thumb_foto_normal_p{
  display: block;
  text-align: center;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(41, 144, 228);
  font-size: 1.5em;
  text-decoration: underline #007fff;
}

.thumb_foto_normal_p360{
  display: block;
  text-align: center;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(41, 144, 228);
  font-size: 0.8em;
  text-decoration: underline #007fff;
}

.return_change_foto {
  position: absolute;
  right: 0;
  z-index: 11;
  cursor: pointer;
  visibility: hidden;
  color: black;
}

.return_foto {
  margin-top: 0.3em;
  margin-right: 0.3em;
  font-size: 2em;
}

.return_foto:hover {
  color: rgb(15, 96, 215);
  font-size: 2.2em;
}

.boton_crear_file{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em auto 1em auto;
  padding: 1em 4em;
  border-radius: 5px;
  background-color: rgb(142, 142, 142);
  color: #fff;
  font-size: 1.6em;
  font-weight: bold;
  cursor: pointer;
}

.boton_crear_file:hover{
  background-color: #007fff;
}

.boton_crear_file:active{
  background-color: #007fff;
  font-size: 1.55em;
}

/* ############################################ RESPONSIVE #################################################### */


@media screen and (max-width:700px){
  .contenedor_editor_sponsor_consola{
    min-height: 30em;
  }
  .select_contenedor{
    width: 100%;
  }
  .mapa_contenedor{
    width: 90%;
    margin-top: 1em;
  }
  .inputs_pak{
    width: 80%;
  }
}


@media screen and (max-width:520px){

  .contenedor_editor_sponsor_consola{
    width: 100%;
  }

}

@media screen and (max-width:450px){
  .mapa_contenedor{
    width: 95%;
  }
  .input_wrap label{
    font-size: 0.9em;
  }
  .input_wrap input{
    font-size: 1em;
  }
  .boton_crear_file{
    font-size: 1em;
  }

}
