/* ######################## Enlaces hacia los font-awesome icons ######################## */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/font_awesome/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/font_awesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/font_awesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/font_awesome/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/font_awesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/font_awesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;}

/* ########################### Forma global del slider ############## */
.flexslider.index_slider
{width: 95%;
 max-width: 1000px;
 margin: 50px auto;
 border: 5px solid white;
 border-radius: 8px;
 box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.7);
 display: flex;
 flex-direction: column;
 position: relative;
 z-index: 1;}

.slides.index_slides
{width: 100%;}
.slides.index_slides li
{width: 100%;
 margin-bottom: -5px}  /* solucion para el margin-bottom automatico que aparece, weird */
.slides.index_slides li img
{width: 100%;}

/* ############################# Paginacion, puntos que muestran que imagen se muestra ################### */

#index_slider .flex-control-nav.flex-control-paging       /* Corresponde al contenedor de los puntos de paginacion */
{width: 120px;
 padding: 20px 0px;
 background-color: rgba(0,0,0,0.99);
 border: 2px solid rgba(255,255,255,0.3);
 align-self: center;                /* para alinearse a si mismo */
 border-radius: 10px;
 box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.8);
 display: flex;
 justify-content: center;
 align-items: center;
 position: absolute;
 z-index: 3;
 bottom: -30px;}

#index_slider .flex-control-nav li
{display: inline-block;
 margin: 0 5px;}

#index_slider .flex-control-nav a
{display: block;
 width: 15px;
 height: 15px;
 background-color: white;
 border-radius: 50%;  /*para hacerlo completamente circular */
 text-indent: -9999px;   /*para alejar el texto de modo a no verlo, pero sin elminarlo */
 box-shadow: inset 0px -2px 2px 0px rgba(0,0,0,0.55)}  /*sombra del punto */

#index_slider .flex-control-nav a.flex-active
{background-color: gold;}


/* ################################ Botones de navegacion ############################## */

.flex-direction-nav
{z-index: 3;}

.flex-direction-nav a
{display: flex;
 width: 50px;
 height: 50px;
 background-color: #1A89DF;
 justify-content: center;
 align-items: center;
 border: 2px solid rgba(255,255,255,0.3);
 border-radius: 5px;
 box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.8);
 position: absolute;      /* permite posicionar indep del contenedor, y relative al padre, flexslider */
 top: 50%;              /* positiona las flechas a altura media del slider, su top */
 margin-top: -30px;       /* para concidir medio del boton y medio del slider */
 transition: all 0.3s ease-in-out;   /* todas los efectos duraran 0.3 segundos */
 opacity: 0;}

.flex-direction-nav a::before
{content: "\f104";        /* numero serie del icono escogido, segun el font_awesome.css */
 font: normal normal normal 14px/1 FontAwesome;
 text-rendering: auto;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;       /* caracteristicas standar de fontawesome */

 font-size: 50px;
 color: white;}

.flex-direction-nav a.flex-next::before {content: "\f105"}  /* solo se especifica el nuevo content */

.flex-direction-nav a.flex-prev  /*no se especifica el icono ya que se puso arriba */
{left: 0px;}

.flex-direction-nav a.flex-next
{right: 0px;}

.flexslider.index_slider:hover .flex-direction-nav .flex-prev /* la animation */
{opacity: 1; left: 15px;}
.flexslider.index_slider:hover .flex-direction-nav .flex-next
{opacity: 1; right: 15px;}
/* ################################ Caption (TEXTO) ########################################### */

.caption
{position: absolute;
 top: 0;
 z-index: 2;
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;}

.caption h2
{font-size: 60px;
 color: white;
 text-shadow: 3px 3px 2px rgba(0,0,0,0.3)}

/* ############################# RESPONSIVE ############################## */

@media screen and (max-width:800px){

.flexslider.index_slider {}

.flex-direction-nav a {opacity: 1;}
.flex-direction-nav a.flex-prev {left: 15px;}
.flex-direction-nav a.flex-next {right: 15px;}

.caption h2 {font-size: 50px;}
}

@media screen and (max-width:600px){

.caption h2 {font-size: 40px;}

.flexslider.index_slider {width: 100%; border-radius: 0px; border: none;}

.flex-direction-nav a {top: auto;}  /* para que se ponga al mismo nivel que la paginacion */
}
