body.popup_active::-webkit-scrollbar {
  display: none;
}
.departamento_label {
    text-transform: capitalize;
}
.logo_img {
  height: 60px;
}
main {
  margin: 30px auto 70px auto;
}

/* #########################################  CONTENIDO DE LA PAGINA ################################## */
.contenedor_consola {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% - 4em);
  margin: 0em auto 2em auto;
  background-color: #fff;
  min-height: 26em;
  align-content: flex-start;
}

.label_select_contenedor{
  display: block;
  width: 100%;
  height: min-content;
  text-align: center;
  background-color: #007fff;
  border: 1px solid #003eff;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  padding: .5em .5em .5em .7em;
  box-sizing: border-box;
  cursor: default;
}

.select_contenedor{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  padding: 0em 1em 1em 1em;
  box-sizing: border-box;
  z-index: 1;
}

.elemento_formulario{
  width: 15em;
  box-sizing: border-box;
  color: #333333;
  margin: 0 auto;
}

.input_referencia_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1em;
}

.input_direccion_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1em;
}

.input_referencia_btn{
  display: flex;
  align-self: center;
  margin-top: 0.8em;
  padding: 0.3em 1em;
  border: 2px solid rgb(55, 55, 55);
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(230, 230, 230);
  -webkit-transition:.3s;
  -moz-transition:.3s;
    transition:.3s;
}

.input_referencia_btn:hover{
  background-color: #007fff;
  color: #fff;
  border-color: #0469cf;
  -webkit-transition:.3s;
  -moz-transition:.3s;
    transition:.3s;
}

.input_referencia_btn:active{
  font-size: 0.95em;
  -webkit-transition:.2s;
  -moz-transition:.2s;
    transition:.2s;
}

.elemento_formulario label {
    display: block;
    margin-top: 1.5em;
    box-sizing: border-box;
    width: 100%;
}

.elemento_formulario input {
    margin-top: 0.5em;
    font-size: 1.1em;
    color: rgb(27, 23, 23);
    text-align: center;
}

.elemento_formulario select {
    width: calc(100% - 1em);
    margin-top: 0.5em;
    font-size: 1.1em;
    color: rgb(27, 23, 23);
}

.label_resultadors_contenedor{
  display: block;
  width: 100%;
  text-align: center;
  background-color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  padding: .5em .5em 0.5em .7em;
  box-sizing: border-box;
}

.resultados_sponsors{
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 1em 1em 1em 1em;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}



.resultados_container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

/* #########################################  CONTENIDO DE LA PAGINA ################################## */
.select_keys_container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
}
.show_all_keys {
  margin: 0 0 0.8em 1em;
}
.show_all_keys img{
  width: 3em;
  height: 3em;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
}
.show_all_keys img:hover{
  transform: scale(1.1);
  transition: 0.2s;
}
.show_all_keys img:active{
  transform: scale(1);
  transition: 0.2s;
}

.select_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2em;
  padding-bottom: 1em;
}

.select_container label{
  color: #fff;
  font-size: 0.9em;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

.retornar_btn{
  display: flex;
  padding: 0.5em 2em;
  font-size: 1.2em;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
  background-color: #007fff;
  border-radius: 5px;
  position: absolute;
  top: 1em;
  right: 2em;
  user-select: none;
}

.retornar_btn:hover{
  background-color: #1485f7;
}

.retornar_btn:active{
  font-size: 1.15em;
}


/* ################################ OVERLAY AND POPUP ################################################### */

.overlay_popup{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.781);
  z-index: 26;
  visibility: hidden;
  position: fixed;
  overflow-y: overlay;
}

.overlay_popup.opened{
  visibility: unset;
}

.popup{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 1em 2em;
  width: 40em;
  min-height: 20em;
  max-height: calc(100vh - 8em);
  border-radius: 3px;
}

.popup_cerrar{
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1.5em;
  right: -1.5em;
  background-color: white;
  border-radius: 21px;
  width: 2.5em;
  height: 2.5em;
  z-index: 2;
}

.popup_cerrar i{
  font-size: 2em;
  font-weight: bold;
  color: #6b6b6b;
  cursor: pointer;
}

.popup_cerrar i:hover{
  color: rgb(32, 32, 32);
}

.popup_cerrar i:active{
  font-size: 1.95em;
  color: rgb(32, 32, 32);
}

.popup_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 10em);
}

.popup_content h2{
  color: rgb(32, 32, 32);
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.5em;
  cursor: default;
  user-select: none;
  position: relative;
}

.popup_boton {
  display: flex;
  width: 12em;
  padding: 0.5em 1em;
  justify-content: center;
  background-color: #285cff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  margin: 2em 0 0 0;
}
.popup_boton:hover {
  transform: scale(1.05);
}

/* Llavero */
.lavero_titulo{
  margin-bottom: 2em !important;
}

.llavero_titulos {
  color: #333333;
  font-weight: bold;
}

.llaves_resultados_contenedor {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: overlay;
}
.llavero_row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 0.5em 0;
}
.llavero_row:not(.llavero_titulos):hover {
  background-color: #ebebeb9a;
}
.llavero_row span{
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.llavero_row img{
  width: 3.5em;
  border-radius: 50%;
  border: 2px solid #fff;
}

/* RETORNAR LLAVES */
.lista_llaves_retorno_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0.5em 0 1em 0;
}
.lista_llaves_retorno_container select {
  width: 12em;
  font-size: 1.2em;
  font-weight: bold;
  color: #585858;
  margin-top: 0.3em;
}
.retornar_confirmar_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6em 2em;
  cursor: pointer;
  user-select: none;
  color: #fff;
  background-color: #007fff;
  border-radius: 5px;
  margin: 1.5em auto 1em auto;
  font-weight: bold;
}

.retornar_confirmar_btn:hover{
  background-color: #1f8efd;
}

.retornar_confirmar_btn:active{
  transform: scale(0.95);
}
/* ############### CONTENIDO ################################### */

.boton_borrador_mini_contenedor{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.boton_borrador_formulario {
  display: flex;
  max-width: 20em;
  width: 100%;
  margin: 1em 1em 1em 0;
  padding: 0.5em;
  border: 1px solid #645f5f;
  border-radius: 3px;
  background-color: #d6d6d8;
  align-items: center;
  cursor: pointer;
  flex-grow: 0;
}

.boton_borrador_formulario:hover {
  background-color: #007fff;
  border: 1px solid #003eff;
}

.boton_borrador_formulario:hover p{
  color: white;
}

.boton_borrador_formulario:hover i{
  color: white;
}


.boton_borrador_formulario i{
  color: rgb(142, 190, 238);
  margin-right: 0.5em;
  font-size: 2em;
}

.boton_borrador_formulario p{
  display: flex;
  flex-wrap: wrap;
  color: #454545;
  text-align: center;
  font-size: 1.3em;
}

.boton_borrador_formulario p span.nombre{
  margin-right: 0.3em;
}

.action_container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 4em;
}

.foto_holder_container{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.foto_holder_container:hover img{
  border-color: #aaaaaa;
  transition: 0.2s;
}

.foto_holder_container:active img{
  transform: scale(0.95);
}

.foto_holder_container img{
  width: 3.5em;
  border-radius: 50%;
  border: 2px solid #fff;
}

.foto_holder_container i{
  display: flex;
  position: absolute;
  z-index: 2;
  font-size: 1.5em;
  font-weight: bold;
  color: #fae632;
  bottom: 0.5em;
  right: 0;
}

.action_key {
  display: flex;
  font-size: 2.5em;
  color: #fae632;
  cursor: pointer;
  user-select: none;
}

.action_key:hover{
  transform: scale(1.05);
}

.action_key:active{
  transform: scale(0.95);
}

.no_action {
  font-size: 2em;
  user-select: none;
  color: #333333;
}



/* ################## CONTACTO AGENTE POPUP ########### */

.agente_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.6em;
  background-color: rgb(50, 50, 50);
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}
.foto_agente {
  border-radius: 50%;
  width: 12em;
}
.info_agente_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  min-height: 13em;
  justify-content: space-evenly;
}
.nombre_agente {
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  margin: 0em 0em 0.2em 0em;
}
.contacto_agente {
  display: flex;
  align-items: center;
}

.icon_stacks_whatsapp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_stacks_whatsapp i.fa-whatsapp {
  color: #38bf5a;
  font-size: 1.4em;
  font-weight: bold;
}
.contacto_agente i.fa-whatsapp {
  color: #38bf5a;
  font-size: 1.8em;
  font-weight: bold;
}
.contacto_agente i.fa-circle {
  color: #fff;
  font-size: 1.6em;
  font-weight: lighter;
}
.btns_popup_wrap .icon_stacks_whatsapp i.fa-circle {
  color: #fff;
  font-size: 1.2em;
}

.agente_telefono {
  margin-left: 0.2em;
  font-size: 1.1em;
  font-weight: bold;
  color: #fff;
}

.estado_agente {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0.8em;
  border-radius: 5px;
  background-color: #e5bf00;
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 1em;
}

.btns_popup_wrap {
  display: flex;
  justify-content: space-evenly;
}
.popup_contacto_call_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em 1.3em;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  background-color: #007fff;
  margin: 0em 1em;
}
.popup_contacto_call_btn p {
  font-size: 1.1em;
  font-weight: bold;
  color: #fff;
}
.popup_contacto_whatsapp_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.05em 1.3em;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  background-color: #ededed;
  margin: 0em 1em 0em 0em;
}


.contacto_visita_select_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 18em;
  margin: 1.5em auto;
}
.contacto_visita_select_wrap label {
  font-size: 1.1em;
  color: #d3d3d3;
  font-weight: bold;
  margin-bottom: 0.5em;
  user-select: none;
}
.contacto_visita_select_wrap select {
  display: flex;
  font-size: 1.1em;
  font-weight: bold;
  padding: 0.2em;
  cursor: pointer;
}
.contacto_visita_select_wrap select option {
  font-size: 1.1em;
  font-weight: bold;
  padding: 0.2em;
  cursor: pointer;
  display: flex;
}

/* Tranferir llaves */

.agentes_lista_wrap{
  display: flex;
  flex-direction: column;
  user-select: none;
}

.select2-container{
  margin-top: 1em !important;
}

.btn_tranferir{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6em 2em;
  cursor: pointer;
  user-select: none;
  color: #fff;
  background-color: #007fff;
  border-radius: 5px;
  margin: 1.5em auto 1em auto;
  font-weight: bold;
}

.btn_tranferir:hover{
  background-color: #1f8efd;
}

.btn_tranferir:active{
  transform: scale(0.95);
}




/* ##############################   RESPONSIVE   ######################################### */

@media screen and (max-width:1000px){
  .select_container{
    padding-top: 1em;
  }
}

@media screen and (max-width:900px){
  .contenedor_consola{
    width: calc(100% - 2em);
  }
}

@media screen and (max-width:850px){
  .contenedor_consola{
    width: 100%;
  }
  .regreso_boton_div_contenedor a span{
    margin: 0em 0.2em 0em 0em;
  }
  .select_container{
    padding-left: 1em;
  }
  .retornar_btn{
    right: 0.7em;
  }
}

@media screen and (max-width:800px){
  .contenedor_consola {
    font-size: 0.9em
  }
  .resultados_sponsors {
    padding-right: 0;
  }

}

@media screen and (max-width:700px){
  .popup{
    width: 30em;
  }
  .boton_borrador_formulario {
    max-width: 20em;
  }

}

@media screen and (max-width:650px){
  .contenedor_consola {
    flex-direction: column;
    align-items: center;
  }
  .select_contenedor {
    width: auto;
  }
  .resultados_sponsors {
    width: auto;
    padding: 1em 0;
  }
  .boton_borrador_formulario {
    max-width: 15em;
  }
}

@media screen and (max-width:530px){
  .popup{
    width: 95%;
    padding: 1em 0.5em;
  }
  .popup_cerrar {
    right: 0em;
  }
  .retornar_btn {
    padding: 0.5em 1em;
    font-size: 1em;
  }
}


@media screen and (max-width:400px){
  .popup{
    width: 100%;
  }
}
@media screen and (max-width:350px){
  .retornar_btn {
    width: 6em;
    text-align: center;
  }
}