.regreso_boton_div_contenedor {width: 100%; padding: 0.5em 0.5em 0.5em 1em;}

.regreso_boton_div_contenedor a {display: flex; align-items: center; width: 15em;}

.regreso_boton_div_contenedor a span {color: white; margin: 0em 0.2em;}

.regreso_boton_div_contenedor a:hover span.regreso_boton {color: #0984CC;}

.titulo {
	font-weight: 500;
	color: #B8711B;
	text-align: center;
	margin: 60px 0 30px 0;
}

.barra {
	border:none;
	margin: 0px auto 5px auto;
	border-top:10px solid #B8711B;
	background: none;
	color:none;
  width: 50%;
}

.formulario {
	background: #2C2C47;
	padding: 30px 30px 20px 30px;
	margin: 0px auto 20px auto;
  width: 40%;
}

.formulario .form-group {
	width: 100%;
	margin-bottom: 10px;
}

.formulario input[type="text"],.formulario input[type="password"] {
	padding: 15px;
	font-size: 16px;
	line-height: 18px;
	border: none;
	vertical-align: top;
}

.formulario .icono {
	padding: 15px;
	text-align: center;
	width: 48px;
	max-height: 48px;
	font-size: 18px;
	line-height: 18px;
	background: #c8c8c8;
	display: inline-block;
	color:#6b6b6b;
	vertical-align: top;
}

.formulario .icono.izquierda {
	margin-right: 4px;
}

.formulario .usuario,
.formulario .password {
	width: calc(100% - 54px);
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-ms-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.formulario .password_btn {
	width: calc(100% - 105px);
}

.formulario .submit-btn {
	padding: 15px;
	text-align: center;
	width: 48px;
	max-height: 48px
	font-size: 18px;
	line-height: 18px;
	background: #679863;
	display: inline-block;
	color:#fff;
	background: #769766;
	cursor: pointer;
}

.formulario .error ul {
	padding: 0 15px;
	margin-top: 1em;
	margin-bottom: -15px;
}

.formulario .error ul li {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

.formulario .error ul li i {
	color: rgb(228, 167, 10);
	font-size: 27px;
}

.formulario .error ul li span {
	color: white;
	font-size: 16px;
	margin-left: 6px;
}

.formulario .exito ul {
	padding: 0 15px;
}

.formulario .exito ul li {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

.formulario .exito ul li i {
	color: #769766;
	font-size: 30px;
}

.formulario .exito ul li span {
	color: white;
	font-size: 20px;
	margin-left: 3px;
}
