/* ######################### POPUP AVISO SUCCES ############################### */

.departamento_label{
  text-transform: capitalize;
}

.popup_success{
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: calc(50% - 5em);
  left: calc(50% - 10em);
  width: 20em;
  height: 10em;
  background-color: #fff;
  border: 1em solid #0984cc;
  z-index: 3;
  box-sizing: border-box;
  border-radius: 10px;
  color: #333;
  font-size: 1.2em;
  font-weight: bold;
}

.popup_success i.fa-exclamation-circle{
  color: #0984cc;
  font-size: 1.2em;
  margin-right: 0.3em;
}

.popup_success_cerrar{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #0984cc;
  border-radius: 50%;
  padding: 0.1em 0.3em 0.2em 0.3em;
  right: -0.5em;
  top: -0.5em;
  font-size: 1.5em;
  color: #fff;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  cursor: pointer;
}

.popup_success_cerrar:hover{
  -webkit-transform:translateY(-0.1em);
  -moz-transform:translateY(-0.1em);
  transform:translateY(-0.1em);
}
.contenedor_editor_sponsor_consola {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0em auto 2em auto;
  background-color: #fff;
}

.titulo_azul{
  display: block;
  width: 100%;
  height: min-content;
  text-align: center;
  background-color: #007fff;
  border: 1px solid #003eff;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  padding: .5em .5em .5em .7em;
  box-sizing: border-box;
  cursor: default;
}

.contenedor_consola {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0em auto 2em auto;
  background-color: #fff;
  min-height: 26em;
  align-content: flex-start;
  justify-content: space-evenly;
}

.select_contenedor{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  box-sizing: border-box;
  z-index: 1;
}

.elemento_formulario{
  width: 15em;
  box-sizing: border-box;
  color: #333333;
  margin: 0 auto;
}

.elemento_formulario label {
    display: block;
    margin-top: 1.5em;
    box-sizing: border-box;
    width: 100%;
}

.elemento_formulario select {
    width: calc(100% - 1em);
    margin-top: 0.5em;
    font-size: 1.1em;
    color: rgb(27, 23, 23);
}

.mapa_contenedor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  min-height: 20em;
  z-index: 1;
}

.map_wrap{
  display: flex;
  width: 100%;
  height: 100%;
}

.inputs_contenedor{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.inputs_pak{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1em;
}

.input_wrap{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5em 0em;
}

.input_wrap input{
  font-size: 1.2em;
  color: rgb(32, 32, 32);
  font-weight: bold;
  display: flex;
  min-width: 75%;
}

.input_wrap label{
  font-size: 1.1em;
  color: rgb(32, 32, 32);
  margin-right: 0.5em;
}

.fotos_wrap{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

#contenedor_foto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

#contenedor_foto2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.campo_foto{
  width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    color: #ecf0f1;
    border: 3px dashed gray;
    margin: 0.3em auto 1em auto;
}

.campo_foto label{
  display: flex;
  position: absolute;
  opacity: 0.8;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: 20px;
  line-height: 50px;
  text-transform: uppercase;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.campo_foto label p {
  display: block;
  text-align: center;
  padding: 0.5em;
  background-color: #aaa8a8;
}

.campo_foto label span {
  text-transform: none;
  text-decoration: underline #007fff;
  color: #007fff;
}

.campo_foto input {
  opacity: 0;
  font-size: 0em;
  padding: 147px 140px;
  cursor: pointer;
  position: absolute;
}

.thumb_foto_normal {
  display: flex;
  position: absolute;
  z-index: 11;
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.thumb_foto_normal_p_container{
  display: flex;
  opacity: 0.8;
  position: absolute;
  z-index: 12;
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.thumb_foto_normal_p{
  display: block;
  text-align: center;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(41, 144, 228);
  font-size: 1.5em;
  text-decoration: underline #007fff;
}

.thumb_foto_normal_p360{
  display: block;
  text-align: center;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(41, 144, 228);
  font-size: 0.8em;
  text-decoration: underline #007fff;
}

.return_change_foto {
  position: absolute;
  right: 0;
  z-index: 11;
  cursor: pointer;
  visibility: hidden;
  color: black;
}

.return_foto {
  margin-top: 0.3em;
  margin-right: 0.3em;
  font-size: 2em;
}

.return_foto:hover {
  color: rgb(15, 96, 215);
  font-size: 2.2em;
}

.boton_crear_agencia{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em auto 1em auto;
  padding: 0.5em 2em;
  border-radius: 5px;
  background-color: rgb(142, 142, 142);
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

.boton_crear_agencia:hover{
  background-color: #007fff;
}

.boton_crear_agencia:active{
  background-color: #007fff;
  font-size: 1.15em;
}

/* ############################################ RESPONSIVE #################################################### */


@media screen and (max-width:700px){
  .contenedor_editor_sponsor_consola{
    min-height: 30em;
  }
  .select_contenedor{
    width: 100%;
  }
  .mapa_contenedor{
    width: 90%;
    margin-top: 1em;
  }
  .inputs_pak{
    width: 80%;
  }
}


@media screen and (max-width:520px){

  .contenedor_editor_sponsor_consola{
    width: 100%;
  }

}

@media screen and (max-width:450px){
  .mapa_contenedor{
    width: 95%;
  }
  .input_wrap label{
    font-size: 0.9em;
  }
  .input_wrap input{
    font-size: 1em;
  }
  .boton_crear_agencia{
    font-size: 1em;
  }

}
