*
{margin:0;
padding:0;
-webkit-box-sizing:border-box; /*bug fix general */
-moz-box-sizing:border-box;   /*bug fix for Mozilla */
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;}

html {height: 100vh;
    max-height: 100vh;
      display: flex;}

a {text-decoration: none; color: black;}
h1 {font-size: 1.5em;}
h2 {font-size: 1.2em; text-indent: 0.5em;}
li {list-style: none;}

.leaflet-bar .leaflet-control-zoom-out {
  background-position: 2px -24px !important;
  font-size: 18px !important;
}

.leaflet-bar .leaflet-control-zoom-in {
  background-position: 2px -24px !important;
  font-size: 18px !important;
}

body
{width: 100vw;
 min-height: 100vh;
 background-size: 100% 100%;
position: relative;}

#fondo
{width: 100%;
 position: fixed;
 z-index: -10;
 background-size: 100% 100%;
 background-image: url(../../objetos/bg_image.jpeg);
 height: 100vh;}

 #contenedor_total
 {width: 100%; height: 100%; display: flex; flex-direction: column;}

 header
 {width: 100%;
  top: 0;
  z-index: 20;}

header nav{
  background-color: rgba(23, 22, 22, 0.97);
  width: 100%;
  box-shadow: 0px 6px 20px #F9F9F9;
}

#contenedor_menu_boton {display:none;}

#menu {display: flex;}
#menu ul.ulmenu
{width: 100%;
 display: flex;}    /*  este flex permite la distribution del menu  */
#menu ul.ulmenu li.limenu
{margin: 3px auto;
 display: flex;          /*flex para que el <a> englobe su contenido */
 border-radius: 6px;
 border: 2px solid transparent;}
#menu ul.ulmenu li.limenu.hover_menu:hover {border: 2px solid white;}
#menu ul.ulmenu li.limenu a
{display: block;
 padding: 5px 15px;}
#menu ul.ulmenu li.limenu a.a_menu img
{display: block;
 margin: 0 auto;}
#menu ul.ulmenu li.limenu a p
{text-align: center;
 margin: 5px auto;
 font-size: 1em;
 color: white;}

.logo_img{
  height: 50px;
}

.regreso_boton_div_contenedor{
  position: absolute;
  top: 0.5em;
  width: 15em;
}

main{
  margin-top: 2em;
}


/* ############################### POPUP ######################################### */
.popup_pendiente_container{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 21;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup_pendiente{
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background-color: #dedede;
  width: 80%;
  position: relative;
  padding-top: 1.5em;
  max-height: 90vh;
}

.popup_cerrar{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.3em;
  right: 0.7em;
  cursor: pointer;
}

.popup_cerrar i{
  font-size: 2.2em;
  color: rgb(147, 147, 147);
}

.popup_cerrar i:hover{
  font-size: 2.3em;
  color: rgb(34, 33, 33);
}

.popup_contenido{
  width: 100%;
  padding: 1em 1.5em;
  display: flex;
  flex-direction: column;
}

.popup_titulo{
  display: flex;
  border-radius: 7px;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.2em 4em;
  margin: 0 auto;
}

.popup_info_header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
  font-weight: bold;
  color: rgb(31, 31, 31);
}

.popup_texto{
  display: flex;
  padding: 0.6em 0.6em 1em 0.6em;
  font-size: 1.1em;
  color: rgb(31, 31, 31);
  margin: 0 auto;
  width: 100%;
  background-color: #fff;
  overflow-y: scroll;
}


/* ################################# POPUP INFO ################################################ */

.pop_up_info_container{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 21;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup_info{
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background-color: #dedede;
  width: 23em;
  position: relative;
  padding-top: 1.5em;
  max-height: 90vh;
}

.popup_info_cerrar{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.3em;
  right: 0.7em;
  cursor: pointer;
}

.popup_info_cerrar i{
  font-size: 2.2em;
  color: rgb(147, 147, 147);
}

.popup_info_cerrar i:hover{
  font-size: 2.3em;
  color: rgb(34, 33, 33);
}

.popup_info_contenido{
  width: 100%;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  text-align: justify;
  font-size: 1em;
  color: rgb(29, 29, 29);
}



/* ################################# CONTENIDO ################################################# */
.contenedor_global {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0em auto 2em auto;
  background-color: #fff;
}

.label_select_contenedor{
  display: block;
  width: 100%;
  height: min-content;
  text-align: center;
  background-color: #007fff;
  border: 1px solid #003eff;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  padding: .5em .5em .5em .7em;
  box-sizing: border-box;
  cursor: default;
}

.switch_container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: min-content;
  padding-top: 1em;
  padding-right: 2em;
}

.switch{
  width: 14em;
  border: 4px solid #007fff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch_nuevos{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  box-sizing: border-box;
  background-color: rgb(161, 160, 160,0.6);
  color: #666666;
  padding: 0.5em 0;
  font-size: 1.1em;
  cursor: pointer;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.switch_borrados{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  box-sizing: border-box;
  background-color: rgb(161, 160, 160,0.6);
  color: #666666;
  padding: 0.5em 0;
  font-size: 1.1em;
  cursor: pointer;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.switch_nuevos.active{
  cursor: default;
  color: #fff;
  background-color: #007fff;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.switch_borrados.active{
  cursor: default;
  color: #fff;
  background-color: #007fff;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.pendientes_contenedor{
  display: flex;
  width: calc(100% - 4em);
  margin: 1em 2em;
  border: 2px solid rgb(93, 92, 92);
  border-radius: 5px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1em;
}

.pendiente{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 1em;
}

.pendiente_wrapper{
  display: flex;
  position: relative;
  padding: 1.7em 0.8em 0.5em 0.8em;
  border-radius: 5px;
  width: calc(100% - 5em);
  background-color: #dedede;
  cursor: pointer;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  transition: .2s;
}

.pendiente_wrapper:hover{
  background-color: #c9c3c3;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  transition: .2s;
}

.pendiente_wrapper.no_leido{
  border: 2px solid #FFEB3B;
}

.etiqueta{
  display: flex;
  position: absolute;
  top: -0.8em;
  left: -0.5em;
  border-radius: 7px;
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.2em 0.7em;
}

.etiqueta.reclamo{
  background-color: rgb(226, 94, 45);
}

.etiqueta.reclamo_file{
  background-color: rgb(226, 94, 45);
}

.etiqueta.anuncio{
  background-color: #007fff;
}

.etiqueta.autorizacion{
  background-color: rgb(226, 193, 16);
}

.etiqueta.agente_validado{
  background-color: rgb(226, 193, 16);
}

.etiqueta.inmueble_validado{
  background-color: rgb(63, 171, 67);
}

.etiqueta.contacto_compartido{
  background-color: #007fff;
}

.etiqueta.check_list_compartido{
  background-color: #007fff;
}

.etiqueta.mensaje_interno{
  background-color: #007fff;
}

.tag_corner{
  display: flex;
  position: absolute;
  top: 0;
  right: 0.5em;
  color: rgb(33, 33, 33);
  font-size: 1.1em;
  font-style: italic;
}

.pendiente_contenido{
  display: flex;
  padding: 0.7em 0.5em;
  font-size: 1.1em;
  color: rgb(31, 31, 31);
  margin-right: 1em;
  width: 100%;
  height: 3.6em;
  overflow-y: hidden;
  background-color: #fff;
}

.pendiente_btn{
 display: flex;
 width: 4em;
 height: 3.5em;
 justify-content: center;
 align-items: center;
 color: #383838;
}

.pendiente_btn i{
  font-size: 2.4em;
  cursor: pointer;
}

.pendiente_btn i.fa-times-circle:hover{
  font-size: 2.5em;
  color: rgb(226, 49, 49);
}

.pendiente_btn i.fa-question-circle:hover{
  font-size: 2.5em;
  color: #007fff;
}

.pendiente_btn i.fa-redo-alt:hover{
  font-size: 2.5em;
  color: #007fff;
}

.btn_action{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4em 2em;
  margin: 1em auto;
  cursor: pointer;
  user-select: none;
  background-color: #007fff;
  border-radius: 5px;
  font-weight: bold;
}

.btn_action:hover{
  background-color: #1087fd;
}

.btn_action:active{
  transform: scale(0.98);
}

.btn_action i{
  font-size: 1.5em;
  color: #fff;
  margin-right: 0.4em;
}

.btn_action p{
  font-size: 1.1em;
  color: #fff;
}
/* ############################################ RESPONSIVE #################################################### */

@media screen and (max-width: 700px){
  .popup_pendiente{
    width: 90%;
  }
}

@media screen and (max-width:600px){

  .contenedor_global {
    width: 100%;
  }

  .popup_pendiente{
    width: 98%;
  }

  .switch_container{
    padding-right: 0.3em;
  }
  .switch{
    width: 12em;
  }
  .switch_nuevos{
    font-size: 0.9em;
  }

  .switch_borrados{
    font-size: 0.9em;
  }

  .pendientes_contenedor{
    margin: 1em 0.3em;
    width: calc(100% - 0.6em);
  }

  .pendientes_contenedor{
    font-size: 1em;
    border-radius: 5px;
  }

  .etiqueta{
    font-size: 1em;
  }

  .tag_corner{
    font-size: 0.8em;
  }
  .pendiente{
    padding: 1em 0.6em;
    justify-content: space-between;
  }

  .pendiente_wrapper{
    width: calc(100% - 2.5em);
  }
  .pendiente_btn{
    width: 2em;
    height: 2.5em;
  }
  .pendiente_btn i{
    font-size: 2.2em;
  }
  .pendiente_contenido{
    font-size: 0.8em;
  }
  .pendiente_btn i.fa-times-circle:hover{
    font-size: 2.3em;
    color: rgb(226, 49, 49);
  }

  .pendiente_btn i.fa-question-circle:hover{
    font-size: 2.3em;
    color: #007fff;
  }
  .pendiente_btn i.fa-redo-alt:hover{
    font-size: 2.3em;
    color: #007fff;
  }
}

@media screen and (max-width: 450px){
  .popup_info{
    width: 20em;
  }
  .popup_info_contenido{
    font-size: 0.8em;
  }
}
