/* POPUP */
body{
    position: relative;
}

#fondo{
    display: none;
}
.popup_overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.445);
    visibility: hidden;
    display: none;
}

/* PREVIEW */

.preview_overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.445);
    visibility: hidden;
}

.preview{
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    max-height: 100vh;
    position: relative;
}

.cerrar_preview{
    display: none;
    color: #fff;
    position: absolute;
    right: -1.5em;
    top: -1.1em;
}

.preview_contenido{

    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 216mm;
    padding-bottom: 3em;
    overflow: overlay;  
}

/* CONTENIDO DE LA PAGINA */

.contenedor_editor_sponsor_consola {
  display: none;
}

.label_select_contenedor{
  display: none;
}

.all_params_container{
  display: none;
}

.selects_container{
    display: none;
}


/* ######## PDF ###### */

.pdf_header{
    width: 100%;
    background-color: #000000;
}

.fecha_edicion{
    width: 100%;
    text-align: right;
    padding-right: 3em;
    font-size: 0.8em;
    margin-bottom: 3em;
    margin-top: 1em;
}

.pdf_logo_wrap{
    display: inline-block;
    width: 24%;
    padding: 1em 0em 1em 3em;
}

.pdf_logo{
    width: 100%;
}

.pdf_titulo{
    display: inline-block;
    width: 75%;
    color: #fff;
    height: 100%;
    vertical-align: top;
    padding-top: 1.6em;
    font-size: 1.35em;
}

.pdf_titulo span{
    display: inline-block;
    width: 100%;
    text-align: center;
}

.pdf_label_tabla{
    margin-left: 2.5em;
    list-style: disc;
}

.pdf_tabla{
    width: 100%;
    padding: 1em 3em 0em 3em;
}

.pdf_tabla tr.fondo_gris{
    background-color: rgb(239 239 239);
}

.pdf_tabla td{
    padding-bottom: 0.15em;
    padding-top: 0.15em;
    vertical-align: top;
}

.pdf_rango{
    text-align: right;
    padding-right: 2em;
    font-size: 0.9em;
}

.pdf_exclusivo{
    text-align: center;
    font-size: 0.9em;
}

.pdf_no_exclusivo{
    text-align: center;
    font-size: 0.9em;
}

.low_tag{
    width: 100%;
    text-align: center;
    font-size: 0.7em;
    margin-bottom: 4em;
}

.pdf_otros_titulos{
    font-size: 0.9em;
    padding-top: 0.45em !important;
}

.pdf_otros_detalle{
    font-size: 0.9em;
    text-align: justify;
    line-height: 1.6em;
}

.pdf_otros_monto{
    font-size: 0.9em;
    text-align: center;
    padding-top: 0.45em !important;
}
