/* POPUP */


body{
    position: relative;
}
.popup_overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.445);
    visibility: hidden;
}

.popup{
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    min-width: 20em;
    min-height: 10em;
    position: relative;
    justify-content: center;
    align-items: center;
}

.cerrar_popup{
    color: #fff;
    position: absolute;
    right: -1.5em;
    top: -1.1em;
}

.cerrar_popup i{
    font-size: 2em;
    cursor: pointer;
    user-select: none;
}

.cerrar_popup i:hover{
    font-size: 2.05em;
    color: #007fff;
}

.cerrar_popup i:active{
    font-size: 1.95em;
}

/* PREVIEW */

.preview_overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.445);
    visibility: hidden;
}

.preview{
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    max-height: 85vh;
    position: relative;
    margin: 2em 0;
}

.cerrar_preview{
    color: #fff;
    position: absolute;
    right: -1.5em;
    top: -1.1em;
}

.cerrar_preview i{
    font-size: 2em;
    cursor: pointer;
    user-select: none;
}

.cerrar_preview i:hover{
    font-size: 2.05em;
    color: #007fff;
}

.cerrar_preview i:active{
    font-size: 1.95em;
}

.preview_contenido{

    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 216mm;
    padding-bottom: 3em;
    overflow: overlay;  
}

/* CONTENIDO DE LA PAGINA */

.contenedor_editor_sponsor_consola {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0em auto 2em auto;
  background-color: #fff;
}

.label_select_contenedor{
  display: block;
  width: 100%;
  height: min-content;
  text-align: center;
  background-color: #007fff;
  border: 1px solid #003eff;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  padding: .5em .5em .5em .7em;
  box-sizing: border-box;
  cursor: default;
}

.all_params_container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 3em;
  position: relative;
}

.selects_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.pais_select_container{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: #333333;
  margin: 1em 0;
}

.pais_select_container label {
    display: block;
    box-sizing: border-box;
    width: 100%;
    font-weight: bold;
}

.pais_select_container select {
    width: 12em;
    margin-top: 0.5em;
    font-size: 1.1em;
    color: rgb(27, 23, 23);
}

.agencia_select_container{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: #333333;
  margin: 1em 0;
}

.agencia_select_container label {
    display: block;
    box-sizing: border-box;
    width: 100%;
    font-weight: bold;
}

.agencia_select_container select {
    width: 12em;
    margin-top: 0.5em;
    font-size: 1.1em;
    color: rgb(27, 23, 23);
}


/* ESTILOS CONTENIDO */
.label_tabla{
    width: 100%;
    padding-left: 3em;
    user-select: none;
    cursor: default;
}

.col_label{
  display: flex;
  width: calc(100%/3);
  justify-content: center;
  font-weight: bold;
  user-select: none;
  cursor: default;
}

.tabla {
  display: flex;
  width: 100%;
  margin: 1em 0;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-bottom: 1em;
  margin-top: 1em;
}

.tabla select{
    margin-left: 1em;
    cursor: pointer;
}

.tabla span:not(.btn){
    user-select: none;
    cursor: default;
}

.tabla hr{
    margin: 0 4em;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.25em 0;
  position: relative;
}

.row_otros{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0.25em 0;
    position: relative;
}

.row input{
    width: 8em;
    text-align: center;
    color: #202020;
    font-weight: bold;
}

.row input.borde_rojo{
    border-color: #c72929;
}

.row_otros input{
    width: 12em;
    text-align: center;
    color: #202020;
    font-weight: bold;
}

.row_otros input.borde_rojo{
    border-color: #c72929;
}

.last_row{
    position: relative;
}

.btn_agregar_row{
    display: flex;
    position: absolute;
    font-size: 1.7em;
    color: #5a5959;
    cursor: pointer;
    margin-right: 10.5em;
    margin-top: -0.65em;
}

.btn_agregar_row .fas{
    margin-left: 0.1em;
}

.btn_agregar_row:hover{
    color: #007fff;
}

.btn_quitar_row1{
    display: flex;
    position: absolute;
    font-size: 1.5em;
    color: #5a5959;
    cursor: pointer;
    margin-left: 10em;
    margin-top: -0.05em;
}

.btn_quitar_row1:hover{
    color: #c72929;
}

.btn_quitar_row2{
    display: flex;
    position: absolute;
    font-size: 1.5em;
    color: #5a5959;
    cursor: pointer;
    margin-left: 11em;
    margin-top: -0.05em;
}

.btn_quitar_row2:hover{
    color:rgb(255, 0, 0);
}

.col{
    display: flex;
    width: calc(100%/3);
}

.rango{
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.exclusivo{
    display: flex;
    justify-content: center;
    position: relative;
}

.no_exclusivo{
    display: flex;
    justify-content: center;
    position: relative;
}

.max_lotes_row{
    display: flex;
    justify-content: flex-end;
}

.min_row{
    display: flex;
    justify-content: flex-end;
}

.col_max_lotes{
    display: flex;
    justify-content: center;
}

.col_min{
    display: flex;
    justify-content: center;
}

.col_min input{
    width: 14em;
}

.max_lotes{
    width: 10em;
    margin-right: 0;
}

.botones_wrap{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 1em 0;
}

.btn_guardar_tabla_precios{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    background-color: #747474;
    color: #fff;
    font-weight: bold;
    user-select: none;
    padding: 0.5em 2em;
    font-size: 1.4em;
}

.btn_guardar_tabla_precios .far{
    margin-right: 0.5em;
    font-size: 1.5em;
}

.btn_guardar_tabla_precios:hover{
    background-color: #007fff;
}

.btn_guardar_tabla_precios:active{
    font-size: 1.35em;
}


.btn_previsualizar{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    background-color: #747474;
    color: #fff;
    font-weight: bold;
    user-select: none;
    padding: 0.5em 2em;
    font-size: 1.4em;
}

.btn_previsualizar .far{
    margin-right: 0.5em;
    font-size: 1.5em;
}

.btn_previsualizar:hover{
    background-color: #ffbb00;
}

.btn_previsualizar:active{
    font-size: 1.35em;
}


/*##################################### ESTILOS PREVISIALISACION PDF   ######################################## */


.pdf_header{
    width: 100%;
    background-color: #000000;
}

.fecha_edicion{
    width: 100%;
    text-align: right;
    padding-right: 3em;
    font-size: 0.8em;
    margin-bottom: 3em;
    margin-top: 1em;
}

.pdf_logo_wrap{
    display: inline-block;
    width: 24%;
    padding: 1em 0em 1em 3em;
}

.pdf_logo{
    width: 100%;
}

.pdf_titulo{
    display: inline-block;
    width: 75%;
    color: #fff;
    height: 100%;
    vertical-align: top;
    padding-top: 1.6em;
    font-size: 1.35em;
}

.pdf_titulo span{
    display: inline-block;
    width: 100%;
    text-align: center;
}

.pdf_label_tabla{
    margin-left: 2.5em;
    list-style: disc;
}

.pdf_tabla{
    width: 100%;
    padding: 1em 3em 0em 3em;
}

.pdf_tabla tr.fondo_gris{
    background-color: rgb(239 239 239);
}

.pdf_tabla td{
    padding-bottom: 0.15em;
    padding-top: 0.15em;
    vertical-align: top;
}

.pdf_rango{
    text-align: right;
    padding-right: 2em;
    font-size: 0.9em;
}

.pdf_exclusivo{
    text-align: center;
    font-size: 0.9em;
}

.pdf_no_exclusivo{
    text-align: center;
    font-size: 0.9em;
}

.low_tag{
    width: 100%;
    text-align: center;
    font-size: 0.7em;
    margin-bottom: 4em;
}

.pdf_otros_titulos{
    font-size: 0.9em;
    padding-top: 0.45em !important;
}

.pdf_otros_detalle{
    font-size: 0.9em;
    text-align: justify;
    line-height: 1.6em;
}

.pdf_otros_monto{
    font-size: 0.9em;
    text-align: center;
    padding-top: 0.45em !important;
}




/* ############################################ RESPONSIVE #################################################### */

@media screen and (max-width:700px){
  .contenedor_editor_sponsor_consola{
    min-height: 30em;
  }

}


@media screen and (max-width:520px){

  .contenedor_editor_sponsor_consola{
    width: 100%;
  }

}
