/*   ###########    ESTILOS GENERALES    #############   */
*
{margin:0;
padding:0;
-webkit-box-sizing:border-box; /*bug fix general */
-moz-box-sizing:border-box;   /*bug fix for Mozilla */
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;}

html {min-height: 100%;
      display: flex;}

a {text-decoration: none; color: black;}
h1 {font-size: 1.5em;}
h2 {font-size: 1.2em; text-indent: 0.5em;}
li {list-style: none;}

body
{width: 100%;
 min-height: 100%;
 background-size: 100% 100%;}

 #contenedor_total
 {width: 100%; display: flex; flex-direction: column;}

 header
 {width: 100%;
  position: sticky;
  top: 0;
  z-index: 20;}

header nav{
  background-color: rgba(23, 22, 22, 0.97);
  width: 100%;
  box-shadow: 0px 6px 20px #F9F9F9;
}

#contenedor_menu_boton {display:none;}

#menu {display: flex;}
#menu ul.ulmenu
{width: 100%;
 display: flex;}    /*  este flex permite la distribution del menu  */
#menu ul.ulmenu li.limenu
{margin: 3px auto;
 display: flex;          /*flex para que el <a> englobe su contenido */
 border-radius: 6px;
 border: 2px solid transparent;}
#menu ul.ulmenu li.limenu.hover_menu:hover {border: 2px solid white;}
#menu ul.ulmenu li.limenu a
{display: block;
 padding: 5px 15px;}
#menu ul.ulmenu li.limenu a.a_menu img
{display: block;
 margin: 0 auto;}
#menu ul.ulmenu li.limenu a p
{text-align: center;
 margin: 5px auto;
 font-size: 1em;
 color: white;}

.logo_img{
  height: 50px;
}

.regreso_boton_div_contenedor{
  position: absolute;
  top: 0.5em;
  width: unset !important;
  user-select: none;
}

#fondo
{width: 100%;
 position: fixed;
 z-index: -10;
 background-size: 100% 100%;
 background-image: url(../../objetos/bg_image.jpeg);
 height: 100vh;}


/* ######################## CONTENIDO ########################## */


.contenido{
  display: flex;
  flex-direction: column;
  width: calc(100vw - 4em);
  margin: 1.8em auto;
  background-color: rgba(0, 0, 0, 0.856);
}

.bienvenida{
  display: flex;
  width: 100%;
  align-items: center;
  font-weight: bold;
  font-size: 1.4em;
  color: #fff;
  padding: 0.8em 0 0 1em;
  user-select: none;
  cursor: default;
}

.contenedor_datos{
  display: flex;
  margin: 1em 1em;
  justify-content: space-evenly;
  height: 100%;
}

.datos_left_wrap{
  display: flex;
  flex-direction: column;
  width: 32em;
  height: 100%;
}

.resumen_inmueble{
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgba(255, 255, 255, 0.918);
  width: 100%;
  margin-bottom: 1.5em;
}

.etiqueta_especial.pre_venta
 {position: absolute;
  left: -0.5em; top: 0.4em;
  z-index: 2;
  background-color: #e39012;
  color: white;
  width: 30%; max-width: 30%;
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  line-height: 1;
  padding: 0.6em 0;
  text-align: center;}

.etiqueta_especial.anticretico
{position: absolute;
  left: -0.5em; top: 0.4em;
  z-index: 2;
  background-color: #e39012;
  color: white;
  width: 30%; max-width: 30%;
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  line-height: 1;
  padding: 0.6em 0;
  text-align: center;}

.etiqueta_especial.exclusivo
 {position: absolute;
  left: -0.5em; top: 0.4em;
  z-index: 2;
  background-color: rgba(234, 12, 77, 1);
  color: white;
  width: 30%; max-width: 30%;
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  line-height: 1;
  padding: 0.6em 0;
  text-align: center;}


.etiqueta_especial p {font-size: 1.2em;}

.etiqueta_especial.anticretico::after
 {position: absolute;
  left: 0em;
  bottom: -0.6em;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.6em 0.6em 0;
  border-color: transparent #e39012 transparent transparent;
}

.etiqueta_especial.pre_venta::after
 {position: absolute;
  left: 0em;
  bottom: -0.6em;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.6em 0.6em 0;
  border-color: transparent #e39012 transparent transparent;
}

.etiqueta_especial.exclusivo::after
 {position: absolute;
  left: 0em;
  bottom: -0.6em;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.6em 0.6em 0;
  border-color: transparent rgba(234, 12, 77, 1) transparent transparent;
}


.foto_container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.959);
}

.foto_inmueble{
  width: 25em;
  aspect-ratio: 4 / 3,5;
}

.datos_inmueble_wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.8em 0;
}

.datos_inmueble_top{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.datos_inmueble_left{
  display: flex;
  flex-direction: column;
}

.datos_inmueble_left span{
  display: flex;
  width: 100%;
  margin: 0.3em 0.5em;
}

.datos_inmueble_left span p.mini_label{
  font-size: 1.1em;
  font-weight: bold;
  color: rgb(19, 19, 19);
  user-select: none;
}

.datos_inmueble_left span p.mini_info{
  font-size: 1.1em;
  font-weight: bold;
  color: rgb(44, 44, 44);
  user-select: none;
  margin-left: 0.6em;
}

.datos_inmueble_right{
  display: flex;
  flex-direction: column;
}

.datos_inmueble_right span{
  display: flex;
  width: 100%;
  margin: 0.3em 0.5em;
}

.datos_inmueble_right span p.mini_label{
  font-size: 1.1em;
  font-weight: bold;
  color: rgb(19, 19, 19);
  user-select: none;
}

.datos_inmueble_right span p.mini_info{
  font-size: 1.1em;
  font-weight: bold;
  color: rgb(44, 44, 44);
  user-select: none;
  margin-left: 0.6em;
}

.datos_inmueble_bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 0.5em;
}

.datos_inmueble_bottom span{
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0.3em 0.5em;
  align-items: center;
}

.datos_inmueble_bottom span img {
  width: 2.4em;
  margin-right: 0.3em;
}

.datos_inmueble_bottom span p.mini_info{
  font-size: 1.1em;
  font-weight: bold;
  color: rgb(44, 44, 44);
  user-select: none;
  margin-left: 0.4em;
}

.datos_inmueble_bottom span.dato_superficie p.mini_info{
  display: flex;
  border: 4px dashed #51d0f1;
  padding: 0.4em 0.5em;
  cursor: default;
}



.propuestas{
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgba(255, 255, 255, 0.918);
  width: 100%;
  height: 13em;
  max-height: 13em;
  overflow-y: overlay;
}

.propuestas_titulo{
  display: flex;
  width: 100%;
  font-size: 1.3em;
  font-weight: bold;
  color: rgb(29, 29, 29);
  margin: 0.5em 0;
  padding-left: 0.8em;
  user-select: none;
}



.contenedor_propuestas{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.propuesta_wrap{
  display: flex;
  flex-direction: column;
  padding: 0.3em 1em;
  margin: 0.5em 0;
}

.propuesta_wrap:hover{
  background-color: rgba(211, 211, 211, 0.733);
}

.datos_propuesta_wrap{
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

.datos_propuesta_wrap p{
  font-size: 1.1em;
  font-weight: bold;
  color: rgb(22, 22, 22);
}

.propuesta_comentarios{
  font-weight: bold;
  color: rgb(56, 56, 56);
  padding: 0 1em;
}



.historial_visitas{
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgba(255, 255, 255, 0.918);
  min-width: 25em;
  width: 45%;
  height: 100%;
}

.visitas_titulo{
  display: flex;
  width: 100%;
  font-size: 1.3em;
  font-weight: bold;
  color: rgb(29, 29, 29);
  margin: 0.5em 0;
  padding-left: 0.8em;
  user-select: none;
}

.contenedor_visitas{
  display: flex;
  flex-direction: column;
}

.visita_wrap{
  display: flex;
  padding: 0.3em 1em;
  margin: 0.5em 0;
  align-items: center;
  cursor: default;
}

.visita_wrap_popup{
  display: flex;
  padding: 0.3em 1em;
  margin: 0.5em 0;
  align-items: center;
  cursor: default;
  background-color: rgba(211, 211, 211, 0.733);
  border-radius: 3px;
  font-size: 0.8em;
}

.visita_wrap:hover{
  background-color: rgba(211, 211, 211, 0.733);
}

h2.ningun_resultado{
  display: flex;
  align-items: center;
  font-size: 1.2em;
  color: rgb(54, 54, 54);
  font-weight: bold;
  user-select: none;
  cursor: default;
  padding-left: 1.5em;
  margin: 0.5em 0em 1em 0em;
}

.agente_foto img{
  width: 2.5em;
  margin-right: 0.5em;
  border-radius: 50%;
}

.agente_info{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 35em;
  justify-content: space-between;
}

.agente_info span{
  font-size: 1.1em;
  font-weight: bold;
  color: rgb(56, 56, 56);
  user-select: none;
}

.action_reclamo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  color: rgb(146, 146, 146);
  padding-bottom: 0.2em;
  margin-left: 0.5em;
}

.action_reclamo:hover{
  color: rgb(45, 199, 109);
}


/* POPUP */

.popup_overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.377);
  visibility: hidden;
  z-index: 100;
}

.popup{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30em;
  background: #2C2C47;
  border: 0.7em solid #0984cc;
  z-index: 3;
  box-sizing: border-box;
  border-radius: 10px;
  color: #333;
  font-size: 1.2em;
  font-weight: bold;
  padding: 1em 1em 0.5em 1em;
}

.popup i.fa-exclamation-circle{
  color: #0984cc;
  font-size: 1.2em;
  margin-right: 0.3em;
}

.popup_cerrar{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #0984cc;
  border-radius: 50%;
  padding: 0.1em 0.3em 0.2em 0.3em;
  right: -0.5em;
  top: -0.5em;
  font-size: 1.5em;
  color: #fff;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  cursor: pointer;
}

.popup_cerrar:hover{
  -webkit-transform:translateY(-0.1em);
  -moz-transform:translateY(-0.1em);
  transform:translateY(-0.1em);
}

.popup_content{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em;
}

.popup_content h2{
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0.6em;
}

.popup_content textarea{
  display: flex;
  font-size: 1em;
  font-weight: bold;
  color: #333;
  padding: 0.5em;
  border-radius: 3px;
  margin-top: 0.8em;
  resize: vertical;
}

.btn_enviar_reclamo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 2em;
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 5px;
  background-color: #0984CC;
  color: #fff;
  cursor: pointer;
  user-select: none;
  margin: 1em auto;
}


.btn_enviar_reclamo:hover{
  background-color: #1392db;
}

.btn_enviar_reclamo:active{
  background-color: #1392db;
  font-size: 1.05em;
}

.mensaje_error{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  cursor: default;
  user-select: none;
  visibility: hidden;
}

.mensaje_error i{
  font-size: 1.2em;
  font-weight: bold;
  color: #df3954 !important;
  margin-right: 0.3em;
}

.mensaje_error p{
  font-size: 1em;
  font-weight: bold;
  color: #fff;
}

/* POPUP EXITO */

.popup_overlay_exito{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.377);
  visibility: hidden;
  z-index: 100;
}

.popup_exito{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30em;
  background: #2C2C47;
  border: 0.7em solid #0984cc;
  z-index: 3;
  box-sizing: border-box;
  border-radius: 10px;
  color: #333;
  font-size: 1.2em;
  font-weight: bold;
  padding: 1em 1em 0.5em 1em;
}

.popup_exito i.fa-exclamation-circle{
  color: #0984cc;
  font-size: 1.2em;
  margin-right: 0.3em;
}

.popup_cerrar_exito{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #0984cc;
  border-radius: 50%;
  padding: 0.1em 0.3em 0.2em 0.3em;
  right: -0.5em;
  top: -0.5em;
  font-size: 1.5em;
  color: #fff;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  cursor: pointer;
}

.popup_cerrar_exito:hover{
  -webkit-transform:translateY(-0.1em);
  -moz-transform:translateY(-0.1em);
  transform:translateY(-0.1em);
}

.popup_content_exito{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em;
  color: #fff;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:1045px){

  .contenido {
    font-size: 0.9em;
  }


}
@media screen and (max-width:960px){

  .historial_visitas {
    margin-left: 1em;
  }

}

@media screen and (max-width:850px){

  .contenedor_datos {
    flex-direction: column;
    align-items: center;
  }
  .historial_visitas {
    width: 32em;
    margin-top: 1.5em;
    margin-left: 0em;
  }

}

@media screen and (max-width:550px){

  .contenido {
    margin: 1.8em 0;
    width: 98%;
    align-self: center;
  }
  header {
    font-size: 0.9em;
  }

}

@media screen and (max-width:490px){

  .contenido {
    font-size: 0.85em;
  }
  .datos_left_wrap {
    width: 97%;
  }
  .historial_visitas {
    width: 97%;
    min-width: unset;
  }
  .contenedor_datos {
    margin: 1em 0em
  }
}

@media screen and (max-width:450px){

  .contenido {
    font-size: 0.75em;
  }

}