/*   ###########    ESTILOS GENERALES    #############   */
*
{margin:0;
padding:0;
-webkit-box-sizing:border-box; /*bug fix general */
-moz-box-sizing:border-box;   /*bug fix for Mozilla */
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;}

html {min-height: 100%;
      display: flex;}

a {text-decoration: none; color: black;}
h1 {font-size: 1.5em;}
h2 {font-size: 1.2em; text-indent: 0.5em;}
li {list-style: none;}

body
{width: 100%;
 min-height: 100%;
 background-size: 100% 100%;}

 #contenedor_total
 {width: 100%; height: calc(100vh); display: flex; flex-direction: column;}

 header
 {width: 100%;
  position: sticky;
  top: 0;
  z-index: 20;}

header nav{
  background-color: rgba(23, 22, 22, 0.97);
  width: 100%;
  box-shadow: 0px 6px 20px #F9F9F9;
}

#contenedor_menu_boton {display:none;}

#menu {display: flex;}
#menu ul.ulmenu
{width: 100%;
 display: flex;}    /*  este flex permite la distribution del menu  */
#menu ul.ulmenu li.limenu
{margin: 3px auto;
 display: flex;          /*flex para que el <a> englobe su contenido */
 border-radius: 6px;
 border: 2px solid transparent;}
#menu ul.ulmenu li.limenu.hover_menu:hover {border: 2px solid white;}
#menu ul.ulmenu li.limenu a
{display: block;
 padding: 5px 15px;}
#menu ul.ulmenu li.limenu a.a_menu img
{display: block;
 margin: 0 auto;}
#menu ul.ulmenu li.limenu a p
{text-align: center;
 margin: 5px auto;
 font-size: 1em;
 color: white;}

.logo_img{
  height: 50px;
}

.regreso_boton_div_contenedor{
  position: absolute;
  top: 0.5em;
  width: unset !important;
  user-select: none;
}

#fondo
{width: 100%;
 position: fixed;
 z-index: -10;
 background-size: 100% 100%;
 background-image: url(../../objetos/bg_image.jpeg);
 height: 100vh;}


/* ######################## CONTENIDO ########################## */


.contenido{
  display: flex;
  flex-direction: column;
  width: calc(100vw - 4em);
  margin: 1.8em auto;
  background-color: rgba(0, 0, 0, 0.856);
  height: calc(100vh - 8em);
}

.bienvenida{
  display: flex;
  width: 100%;
  align-items: center;
  font-weight: bold;
  font-size: 1.4em;
  color: #fff;
  padding: 0.8em 0 0 1em;
  user-select: none;
  cursor: default;
}

.contenedor_datos{
  display: flex;
  margin: 1em 1.3em;
  justify-content: space-between;
  height: 100%;
}

.datos_left_wrap{
  display: flex;
  flex-direction: column;
  width: 30em;
  height: 100%;
}

.resumen_inmueble{
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgba(255, 255, 255, 0.918);
  width: 100%;
  margin-bottom: 1.5em;
}

.etiqueta_especial
 {position: absolute;
  left: -0.5em; top: 0.4em;
  z-index: 2;
  background-color: #e39012;
  color: white;
  width: 30%; max-width: 30%;
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  line-height: 1;
  padding: 0.6em 0;
  text-align: center;}


.etiqueta_especial p {font-size: 1.2em;}

.etiqueta_especial::after
 {position: absolute;
  left: 0em;
  bottom: -0.6em;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.6em 0.6em 0;
  border-color: transparent #e39012 transparent transparent;
}

.foto_inmueble{
  width: 23em;
  aspect-ratio: 4 / 3;
  margin: 0 auto;
}

.datos_inmueble_wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.8em 0;
}

.datos_inmueble_top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3em;
}

.datos_inmueble_top span{
  display: flex;
  width: 100%;
  padding-left: 4.3em;
}

.datos_inmueble_top span p{
  font-size: 1.1em;
  font-weight: bold;
  color: rgb(29, 29, 29);
  user-select: none;
}

.datos_inmueble_middle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3em;
}

.datos_inmueble_middle span{
  display: flex;
  width: 100%;
  padding-left: 4.3em;
}

.datos_inmueble_middle span p{
  font-size: 1.1em;
  font-weight: bold;
  color: rgb(29, 29, 29);
  user-select: none;
}

.datos_inmueble_bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.datos_inmueble_bottom span{
  display: flex;
  width: 100%;
  justify-content: center;
}

.datos_inmueble_bottom span p{
  font-size: 1.1em;
  font-weight: bold;
  color: rgb(29, 29, 29);
  user-select: none;
}



.propuestas{
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgba(255, 255, 255, 0.918);
  width: 100%;
  height: 13em;
  max-height: 13em;
  overflow-y: overlay;
}

.propuestas_titulo{
  display: flex;
  width: 100%;
  font-size: 1.3em;
  font-weight: bold;
  color: rgb(29, 29, 29);
  margin: 0.5em 0;
  padding-left: 0.8em;
  user-select: none;
}



.contenedor_propuestas{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.propuesta_wrap{
  display: flex;
  flex-direction: column;
  padding: 0.3em 1em;
  margin: 0.5em 0;
}

.propuesta_wrap:hover{
  background-color: rgba(211, 211, 211, 0.733);
}

.datos_propuesta_wrap{
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

.datos_propuesta_wrap p{
  font-size: 1.1em;
  font-weight: bold;
  color: rgb(22, 22, 22);
}

.propuesta_comentarios{
  font-weight: bold;
  color: rgb(56, 56, 56);
  padding: 0 1em;
}





.historial_visitas{
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgba(255, 255, 255, 0.918);
  width: calc(100% - 40em);
  height: 100%;
}

.visitas_titulo{
  display: flex;
  width: 100%;
  font-size: 1.3em;
  font-weight: bold;
  color: rgb(29, 29, 29);
  margin: 0.5em 0;
  padding-left: 0.8em;
  user-select: none;
}

.contenedor_visitas{
  display: flex;
  flex-direction: column;
}

.visita_wrap{
  display: flex;
  padding: 0.3em 1em;
  margin: 0.5em 0;
  align-items: center;
  cursor: default;
}

.visita_wrap:hover{
  background-color: rgba(211, 211, 211, 0.733);
}

.agente_foto img{
  width: 2.5em;
  margin-right: 0.5em;
  border-radius: 50%;
}

.agente_info{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 35em;
  justify-content: space-between;
}

.agente_info span{
  font-size: 1.1em;
  font-weight: bold;
  color: rgb(56, 56, 56);
  user-select: none;
}

