.contenedor_editor_sponsor_consola {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0em auto 2em auto;
  background-color: #fff;
}

.label_select_contenedor{
  display: block;
  width: 100%;
  height: min-content;
  text-align: center;
  background-color: #007fff;
  border: 1px solid #003eff;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  padding: .5em .5em .5em .7em;
  box-sizing: border-box;
  cursor: default;
}

.all_params_container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.agencia_select_container{
  width: 15em;
  box-sizing: border-box;
  color: #333333;
  margin: 1em auto;
}

.agencia_select_container label {
    display: block;
    box-sizing: border-box;
    width: 100%;
}

.agencia_select_container select {
    width: calc(100% - 1em);
    margin-top: 0.5em;
    font-size: 1.1em;
    color: rgb(27, 23, 23);
}

.modos_container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.modos_container h2{
  width: 100%;
  text-align: center;
  margin-bottom: 0.5em;
}

.modo_btn{
  display: flex;
  width: 9em;
  margin: 1em 0em 1em 1em;
  padding: 0.8em 0.5em;
  border: 1px solid #645f5f;
  border-radius: 3px;
  background-color: #d6d6d8;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-grow: 0;
  color: rgb(31, 31, 31);
  font-weight: bold;
  font-size: 1.1em;
}

.modo_btn:hover{
  background-color: #717174;
  color: #fff;
}

.modo_btn:active{
  font-size: 1.05em;
}

.modo_btn.activo{
  background-color: #ffa100;
  border: 1px solid #dd8e08;
  color: #fff;
}

.explicacion_modo{
  max-width: 54em;
  width: 100%;
  display: flex;
  padding: 1em;
  margin: 0em 1em;
  border: 2px solid rgb(40, 39, 39);
  align-items: center;
  cursor: default;
}

.modo_text{
  display: none;
  align-items: baseline;
  font-weight: bold;
  color: rgb(27, 23, 23);
}

.modo_text b{
  margin-right: 0.3em;
  font-size: 1.2em;
  min-width: 5.2em;
}

.modo_text.activo{
  display: flex;
}

.parametros_container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin: 2em 0em;
}

.parametros_sub_container{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 33.33%;
}

.parametros_sub_container h2{
  margin-bottom: 1em;
}

.parametro_individual{
  width: 19em;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.parametro_individual label{
  font-size: 1.1em;
  font-weight: bold;
  color: rgb(50, 50, 50);
  margin-bottom: 0.2em;
}

.parametro_individual .ui-widget.ui-widget-content{
  font-size: 1.3em;
}

.registrar_btn_container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registrar_btn{
  display: flex;
  width: 15em;
  margin: 1em 0em 1em 1em;
  padding: 0.8em 0.5em;
  border: 1px solid #645f5f;
  border-radius: 3px;
  background-color: #d6d6d8;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-grow: 0;
  color: rgb(31, 31, 31);
  font-weight: bold;
  font-size: 1.1em;
}

.registrar_btn:hover{
  background-color: #007fff;
  border: 1px solid #003eff;
  color: #fff;
}

/* ############################################ RESPONSIVE #################################################### */

@media screen and (max-width:1040px){
  .parametros_sub_container{
    width: 50%;
  }
}

@media screen and (max-width:700px){
  .contenedor_editor_sponsor_consola{
    min-height: 30em;
  }
  .parametros_sub_container{
    width: 100%;
  }

}


@media screen and (max-width:520px){

  .contenedor_editor_sponsor_consola{
    width: 100%;
  }

}
