/*   ###########    ESTILOS GENERALES    #############   */
*
{margin:0;
padding:0;
-webkit-box-sizing:border-box; /*bug fix general */
-moz-box-sizing:border-box;   /*bug fix for Mozilla */
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;}

html {height: 100vh;
    max-height: 100vh;
      display: flex;}

a {text-decoration: none; color: black;}
h1 {font-size: 1.5em;}
h2 {font-size: 1.2em; text-indent: 0.5em;}
li {list-style: none;}

.leaflet-bar .leaflet-control-zoom-out {
  background-position: 2px -24px !important;
  font-size: 18px !important;
}

.leaflet-bar .leaflet-control-zoom-in {
  background-position: 2px -24px !important;
  font-size: 18px !important;
}

body
{width: 100vw;
 min-height: 100vh;
 background-size: 100% 100%;
position: relative;}

#fondo
{width: 100%;
 position: fixed;
 z-index: -10;
 background-size: 100% 100%;
 background-image: url(../../objetos/bg_image.jpeg);
 height: 100vh;}

 #contenedor_total
 {width: 100%; height: 100%; display: flex; flex-direction: column; position: relative; align-items: center;}

 header
 {width: 100%;
  top: 0;
  z-index: 20;
  position: relative;}

header nav{
  background-color: rgba(23, 22, 22, 0.97);
  width: 100%;
  box-shadow: 0px 6px 20px #F9F9F9;
}


.actions_visita_wrap{
  display: flex;
  position: absolute;
  right: 2em;
  top: 1em;
  width: 5.2em;
  justify-content: space-between;
}

.visita_fail_btn{
  font-size: 2.3em;
  font-weight: bold;
  color: #dd3e3e;
  cursor: pointer;
  opacity: 0.4;
}

.visita_fail_btn.activo{
  color: #df5858;
  opacity: 1;
}

.visita_fail_btn:hover{
  color: #df5858;
  opacity: 1;
}

.visita_fail_btn:active{
  transform: scale(0.98);
}

.visita_exito_btn {
  font-size: 2.3em;
  font-weight: bold;
  color: #5edd3e;
  cursor: pointer;
  opacity: 0.4;
}

.visita_exito_btn.activo{
  color: #79e45e;
  opacity: 1;
}

.visita_exito_btn:hover{
  color: #79e45e;
  opacity: 1;
}

.visita_exito_btn:active{
  transform: scale(0.98);
}




#contenedor_menu_boton {display:none;}

#menu {display: flex;}
#menu ul.ulmenu
{width: 100%;
 display: flex;}    /*  este flex permite la distribution del menu  */
#menu ul.ulmenu li.limenu
{margin: 3px auto;
 display: flex;          /*flex para que el <a> englobe su contenido */
 border-radius: 6px;
 border: 2px solid transparent;}
#menu ul.ulmenu li.limenu.hover_menu:hover {border: 2px solid white;}
#menu ul.ulmenu li.limenu a
{display: block;
 padding: 5px 15px;}
#menu ul.ulmenu li.limenu a.a_menu img
{display: block;
 margin: 0 auto;}
#menu ul.ulmenu li.limenu a p
{text-align: center;
 margin: 5px auto;
 font-size: 1em;
 color: white;}

.logo_img{
  height: 50px;
}

.regreso_boton_div_contenedor{
  position: absolute;
  top: 0.5em;
  width: 15em;
}


/* ###################################  CONTENIDO ############################################################# */

.contenido_wrap{
    display: flex;
    flex-direction: column;
    border-radius: 9px;
    width: 90%;
    max-height: calc(100vh - 6em);
    margin-top: 1em;
    background: rgba(32, 32, 32, 0.97);
    overflow-y: overlay;
    padding-bottom: 3em;
    position: relative;
}

.cabecera_ficha{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  padding: 0.5em 2em 0em 2em;
  background: #4a4848;
  border-top: 9px;
}

.cabecera_parte1 {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0.3em;
  justify-content: space-between;
}

.cabecera_parte1 span.fa-home::before {
  color: gold;
  font-size: 2em;
  margin-right: 3px;
  margin-left: 0.5em;
}

.cabecera_parte1 span.fa-shopping-bag::before {
  color: gold;
  font-size: 1.75em;
  margin-right: 6px;
  margin-left: 0.5em;
}

.cabecera_parte1 span.fa-tree::before {
  color: gold;
  font-size: 1.75em;
  margin-right: 4px;
  margin-left: 0.5em;
}

.cabecera_parte1 span.fa-building::before {
  color: gold;
  font-size: 1.75em;
  margin-right: 5px;
  margin-left: 0.5em;
}

.cabecera_parte1_left{display: flex;}

.cabecera_parte1_right {
  display: flex;
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  align-items: center;
  cursor: default;
}

.precio_cabecera {
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  color: #fff;
  border-top: 2px solid gold;
  border-bottom: 2px solid gold;
  cursor: default;
}

.pre_venta_cabecera {
  display: block;
  padding: 0.3em 0.5em;
  font-size: 1.1em;
  font-weight: bold;
  color: #fff;
  background: rgba(227, 144, 18, 1);
  margin-left: 1em;
  cursor: default;
  user-select: none;
}

.exclusivo_cabecera{
  display: block;
  padding: 0.3em 0.5em;
  font-size: 1.1em;
  font-weight: bold;
  color: #fff;
  background: rgba(234, 12, 77, 1);
  margin-left: 1em;
  cursor: default;
  user-select: none;
}

.timer_visita_wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0.8em auto 0.8em 1.2em;
}

.timer_visita{
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.6em 3em;
  border-radius: 5px;
  background-color: #696969;
  user-select: none;
}

.timer_visita:hover{
  background-color: #757575;
}

.timer_visita.activo{
  background-color: #007fff;
}

.timer_visita.terminado{
  background-color: rgba(227, 144, 18, 1);
}

.timer_visita.terminado i{
  color: #fff
}

.timer_visita:active{
  transform: scale(0.98);
}

.timer_visita i{
  font-size: 1.6em;
  font-weight: bold;
  color: #4fcc30;
}

.timer_visita p{
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  margin-top: 0.1em;
}

.timer_visita_count{
  margin-left:0.8em;
  margin-right: 0.5em;
}

.reset_timer_buton{
  margin-left: 1em;
  margin-top: 0.2em;
  cursor: pointer;
  user-select: none;
}

.reset_timer_buton:hover i{
  transform: scale(1.05);
}

.reset_timer_buton:active i{
  transform: scale(0.98);
}

.reset_timer_buton i{
  font-size: 1.5em;
  font-weight: bold;
  color: #bdbcbc;
}

.timer_controls{
  display: flex;
  flex-direction: column;
  margin-right: 0.5em;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  background-color: #757575;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.timer_controls i.timer_up{
  padding: 0.25em 0.5em 0.1em 0.5em;
  color: #fff;
}

.timer_controls i.timer_down{
  padding: 0.1em 0.5em 0.25em 0.5em;
  color: #fff;
}

.timer_controls i:hover{
  background-color: #8b8b8b;
}

.mapa_contenedor{
  display: flex;
  width: 100%;
  padding: 0 3em;
  margin: 2em auto 0 auto;
  justify-content: center;
  z-index: 1;
  position: relative;
}

.google_map_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4em 1em 0.6em 1.1em;
  font-size: 1.1em;
  font-weight: bold;
  background-color: #585858;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  position: absolute;
  top: 0.8em;
  right: 3.5em;
  z-index: 410;
}

.google_map_btn:hover{
  background-color: #696969;
}

.google_map_btn:active{
  transform: scale(0.98);
}

.google_map_btn img{
  width: 2.2em;
}

.wrap_mapa_popup_agencia {
    display: flex;
    width: 100%;
    height: 100%;
}

.direccion_ficha {
  display: flex;
  flex-direction: column;
  margin: 0em 3em;
  padding: 1em 2em;
  background: #4a4848;
  color: #fff;
}
.direccion_ficha p{
  font-size: 1.2em;
  font-weight: bold;
}


/* boton ficha bien */

.btn_ficha_inmueble_wrap {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 2em 5em;
    background-color: rgb(50, 50, 50);
    margin: 2em auto;
}

.btn_ficha_inmueble {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 3em;
    font-size: 1.4em;
    font-weight: bold;
    color: #fff;
    background-color: #007fff;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.btn_ficha_inmueble:hover{
  background-color: #198afc;
}

.btn_ficha_inmueble:active{
  transform: scale(0.98);
}

.btn_ficha_inmueble .fa-search{
  font-size: 1.5em;
  margin-right: 0.4em;
}


/* contactos */

.agentes_container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 3em;
}

.agente_wrap{
  display: flex;
  flex-direction: column;
  margin: 2em;
  justify-content: center;
  align-items: center;
  padding: 1.6em 2em;
  background-color: rgb(50, 50, 50);
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

.agente_wrap:hover{
  background-color: rgb(65, 64, 64);
}

.eliminar_contacto_extra{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1em;
  right: -1em;
  cursor: pointer;
  color: #fff;
}

.eliminar_contacto_extra:hover{
  color: #f13c3c;
}

.eliminar_contacto_extra:active{
  transform: scale(0.95);
}


.eliminar_contacto_extra i.fa-times-circle{
  font-size: 2em;
  font-weight: bold;
}

.contacto_title{
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 auto 0.5em auto;
  display: flex;
  color: #fff;
}

.foto_agente{
  border-radius: 50%;
  width: 12em
}

.info_agente_wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.nombre_agente{
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  margin: 0.5em 0em 0.2em 0em;
  user-select: unset;
}

.contacto_agente{
  display: flex;
  align-items: center;
}

.contacto_agente i.fa-whatsapp{
  color: #38bf5a;
  font-size: 1.8em;
  font-weight: bold;
}

.contacto_agente i.fa-circle{
  color: #fff;
  font-size: 1.6em;
  font-weight: lighter;
}

.agente_telefono{
  margin-left: 0.2em;
  font-size: 1.1em;
  font-weight: bold;
  color: #fff;
  user-select: unset;
}

.call_btns_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto_call_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  padding: 0.3em 0.5em;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  background-color: #007fff;
  margin: 1em 0em;
}

.contacto_call_btn:hover{
  background-color: #2893fd;
}

.contacto_call_btn:active{
  transform: scale(0.95);
}

.contacto_call_btn p {
  font-size: 1.1em;
  font-weight: bold;
  color: #fff;
}

.contacto_whatsapp_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  padding: 0.05em 0.5em;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  background-color: #ededed;
  margin-bottom: 1em;
}

.contacto_whatsapp_btn:hover{
  background-color: #e4e4e4;
}

.contacto_whatsapp_btn:active{
  transform: scale(0.95);
}

.icon_stacks_whatsapp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto_whatsapp_btn p {
  font-size: 1em;
  font-weight: bold;
}

.icon_stacks_whatsapp i.fa-whatsapp {
  color: #38bf5a;
  font-size: 1.4em;
  font-weight: bold;
}

.icon_stacks_whatsapp i.fa-circle {
  color: #fff;
  font-size: 1.2em;
}


/* COMENTARIOS */

.titulo_ficha{
    font-size: 1.4em;
    font-weight: bold;
    color: #fff;
    margin: 0 2.5em
}

.linea_naranja{
  border: none;
  margin: 0.3em 3em 1em 3.55em;
  border-top: 8px solid #e5bf00;
  background: none;
  width: 7em;
}
  
.comentarios_wrap{
  display: flex;
  margin: 0 3em 2em 3em;
  position: relative;
}

.comentarios_textarea{
  width: 100%;
  max-width: 60em;
  margin-left: 0.5em;
  min-height: 10em;
  max-height: 20em;
  overflow-y: overlay;
  font-size: 1.1em;
  font-weight: bold;
  padding: 1.5em;
  border-radius: 3px;
  cursor: default;
  color: #1d1d1d;
  resize: vertical;
}

.comentarios_textarea.edicion{
  cursor: text;
  border: 2px dashed #464646;
}

.comentarios_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 2em;
  font-size: 1.1em;
  font-weight: bold;
  background-color: #585858;
  color: #fff;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  position: absolute;
  bottom: -1.5em;
  left: 52em;
}

.comentarios_btn:hover{
  background-color: #007fff;
}

.comentarios_btn:active{
  transform: scale(0.95);
}

.guardar_comentarios_btn{
  visibility: hidden;
}

.editar_comentarios_btn{
  visibility: unset;
}

/* ########################  ELEMENTOS CHECKLIST ######################################## */
.elemento_popup{
    font-size: 1em;
    display: flex;
    flex-direction: column;
    margin: 0em 4em 0.8em 3.4em;
    border-radius: 5px;
    transition-duration: 0.2s;
    cursor: pointer;
    max-width: 60em;
    background-color: #f0f0f0;
    position: relative;
  }
  
  .elemento_popup:hover .btn_elemento_detalle{
    color: #007fff;
  }
  
  .elemento_popup:hover .elemento_titulo i{
    color: #007fff;
  }

.elemento_header{
    display: flex;
    justify-content: space-between;
    user-select: none;
    width: 100%;
    position: relative;
    padding: 0.5em 0.5em 0.5em 2em;
    align-items: center;
  }
  
  .elemento_titulo{
    display: flex;
    align-items: center;
  }

  .titulo_read{
    display: flex;
    align-items: center;
  }
  
  .elemento_titulo i{
    font-size: 0.9em;
    margin-right: 0.6em;
    color: #474747;
  }
  
  .elemento_titulo p{
    font-size: 1.05em;
    color: #2e2e2e;
    font-weight: bold;
  }
  
  .btn_elemento_detalle{
    display: flex;
    visibility: hidden;
    font-size: 1.8em;
    color: #474747;
    cursor: pointer;
  }
  
  .btn_elemento_detalle.activo{
    visibility: unset;
  }
  
  .btn_elemento_detalle:hover{
    color: #007fff;
  }
  
  .elemento_detalle_wrap{
    display: none;
    flex-direction: column;
    padding: 0.8em 1em;
  }
  
  .check_list_wrap.read{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .check_element_read {
    display: flex;
    min-width: 23em;
    max-width: 40em;
    width: 100%;
    padding: 0.5em 2em;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
    user-select: none;
    border-radius: 3px;
  }
  
  .check_element_read:hover{
    background-color: #fff;
  }
  
  .check_element_read p{
    font-size: 1.1em;
    font-weight: bold;
    color: #3b3b3b;
  }
  
  .check_list_box{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .check_list_box .fas.fa-circle{
    font-size: 1.3em;
    color: #ebb626;
  }
  
  .check_list_box .fas.fa-circle:active{
    transform: scale(0.95);
  }
  
  .check_list_box .far.fa-circle{
    font-size: 1.3em;
    color: #3b3b3b;
  }
  
  .check_list_box .fas.fa-circle:active{
    transform: scale(0.95);
  }
  
  .check_element_read:hover .check_list_box .far.fa-circle{
    color: #ebb626;
  }

  .eliminar_check_list_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0.35em;
    right: -3em;
    cursor: pointer;
    color: #fff;
  }

  .eliminar_check_list_btn:hover{
    color: #f13c3c;
  }

  .eliminar_check_list_btn:active{
    transform: scale(0.95);
  }

  
  .eliminar_check_list_btn i.fa-times-circle{
    font-size: 2em;
    font-weight: bold;
  }

  /* INVENTARIO */

  .inventario_detalle_wrap{
    display: flex;
    flex-direction: column;
    color: #2e2e2e;
    font-weight: bold;
    font-size: 1.1em;
  }



/* ###################################  RESPONSIVE ############################################################# */

@media screen and (max-width:1290px){


  .comentarios_btn{
    right: 1.5em;
    left: unset;
  }

}

@media screen and (max-width:750px){


  .contenido_wrap{
    width: 95%;
    font-size: 0.9em;
  }

}

@media screen and (max-width:650px){


  .cabecera_parte1{
    font-size: 0.9em;
  }

  .contenido_wrap{
    width: 100%;
  }

  .btn_ficha_inmueble_wrap{
    font-size: 0.8em;
  }

}

@media screen and (max-width:550px){


  .cabecera_ficha{
    padding: 0.2em 1em 0 0;
    font-size: 0.9em;
  }

}

@media screen and (max-width:500px){
  .atras_texto{
    display: none;
  }
  .direccion_ficha{
    padding: 0.8em 1em;
  }
  .google_map_btn{
    font-size: 0.95em;
  }

}

@media screen and (max-width:450px){


  .cabecera_parte1{
    flex-direction: column;
  }
  .cabecera_parte1_right{
    margin: 0.5em 0 0.3em 0;
  }

  .mapa_contenedor {
    padding: 0 1em 0 0.4em;
    margin: 0.5em auto 0 auto;
  }
  .direccion_ficha{
    margin: 0em 1em 0 0.4em;
  }
  .direccion_ficha p{
    font-size: 1em;
  }

  .btn_ficha_inmueble_wrap{
    font-size: 0.7em;
  }

  .agente_wrap{
    margin: 1em;
  }

  .comentarios_wrap{
    margin: 0 1em 2em 0em;
  }

  .elemento_popup{
    margin: 0em 3em 0.8em 0.5em;
  }
  .eliminar_check_list_btn{
    right: -2em;
  }


}


@media screen and (max-width:400px){

  .btn_ficha_inmueble_wrap{
    padding: 0;
    margin: 2em auto 1em auto;
  }

  .check_element_read{
    min-width: unset;
  }

}