::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
      border-radius: 10px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(29, 29, 29, 0.3);
	background-color: rgb(114, 113, 113);
}


/* zoom btns */

.leaflet-bar .leaflet-control-zoom-out {
      background-position: 2px -24px !important;
      font-size: 18px !important;
}

.leaflet-bar .leaflet-control-zoom-in {
      background-position: 2px -24px !important;
      font-size: 18px !important;
}


/*   ###########    ESTILOS GENERALES    #############   */
*
{margin:0;
padding:0;
-webkit-box-sizing:border-box; /*bug fix general */
-moz-box-sizing:border-box;   /*bug fix for Mozilla */
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;}

html {min-height: 100%;
      display: flex;}

a {text-decoration: none; color: black;}
h1 {font-size: 1.5em;}
h2 {font-size: 1.2em; text-indent: 0.5em;}
li {list-style: none;}

#fondo
{width: 100%;
 position: fixed;
 z-index: -10;
 background-size: 100% 100%;
 background-image: url(objetos/bg_image.jpeg);
 height: 100vh;}

body
{width: 100%;
 min-height: 100%;
 background-size: 100% 100%;}

#contenedor_total
{width: 100%; height: calc(100% - 132px); display: flex; flex-direction: column;}

/* ##########    BARRA DE NAVEGACION Y LOGOTYPO ########### */


header
{width: 100%;
 position: sticky;
 top: 0;
 z-index: 20;}

#contenedor_menu_boton {display:none;}


header nav
{width: 100%;
 background-color:rgba(0,0,0,0.83);
 box-shadow: 0px 6px 20px #F9F9F9;}

#menu {display: flex;}
#menu ul.ulmenu
{width: 100%;
 display: flex;}    /*  este flex permite la distribution del menu  */
#menu ul.ulmenu li.limenu
{margin: 3px auto;
 display: flex;          /*flex para que el <a> englobe su contenido */
 border-radius: 6px;
 border: 2px solid transparent;}
#menu ul.ulmenu li.limenu.hover_menu:hover {border: 2px solid white;}
#menu ul.ulmenu li.limenu a
{display: block;
 padding: 5px 15px;}
#menu ul.ulmenu li.limenu a.a_menu img
{display: block;
 margin: 0 auto;}
#menu ul.ulmenu li.limenu a p
{text-align: center;
 margin: 5px auto;
 font-size: 1em;
 color: white;}

.logo_img {height: 95px;}
.menu_icons_style {width: 65px;}
.menu_boton {cursor: pointer;}

/*  ##########    ICON ANUNCIO SLIDER  ###########   */

.flexslider.icon_slider_class
{width: 100%;
 height: 65px;
 margin: 0px auto;
 display: flex;
 flex-direction: column;
 position: relative;}

.slides.icon_slides_class
{width: 100%;
 height: 100%;
 margin: 0px auto;}
.slides.icon_slides_class li
{width:100%;}
.slides.icon_slides_class li img
{width: 65px;
 margin: 0px auto;
 display: flex;}


 #icon_slider .flex-control-nav.flex-control-paging       /* Corresponde al contenedor de los puntos de paginacion */
 {display: none;}

 #icon_slider .flex-direction-nav    /* Botones de navegacion  */
 {display: none;}


/*  ##########    CONTENIDO PRINCIPAL DEFAULT   ###########   */
main
{width: 95%;
 margin: 60px auto 100px auto;
 background-color: rgba(0,0,0,0.88);
 position: relative;}


/*   ##########   PIE DE PAGINA   ########## */

footer
{background-color: rgba(0,0,0,0.95);
 width: 100%;
 display: flex;
 z-index: 5;
 padding-top: 10px;}

.footer_div {margin: 0 auto;}

#footer_logo {margin: auto;}
.footer_logo_img {height: 110px;}

#footer_list {}
#footer_list h2 {color: white;}
#footer_list ul {margin-top: 5px;}
#footer_list ul li {padding: 7px 10px;}
#footer_list ul li a {color: white;}
#footer_list div {display: flex;}

#footer_socialmedia {}
#footer_socialmedia h2 {color: white;}
#footer_socialmedia ul li {margin: 5px;}
#footer_socialmedia ul li a {display: flex; align-items: center; color: white;}
#footer_socialmedia ul li a p {}

.socialmedia_style {width: 50px; height: 30px;}

.cambiar_pais{
      display: flex;
      align-items: center;
      cursor: pointer;
}

.cambiar_pais img{
      display: flex;
      width: 1.6em;
      margin-left: 0.5em; 
}

.cambiar_pais p{
      color: #fff;
}

/* ####################    ESTILOS RESPONSIVE    ########################### */
